openapi: 3.0.0
info:
  version: "2.0"
  title: Foxentry API v2
  description: |-
    # Welcome to the Foxentry API version 2.0
    Welcome to the new version of Foxentry API 2.0 Our API is designed to enhance your data management experience and provide you with even more powerful tools to harness the potential of getting and working with data.
    ## API usage
    The Foxentry API is used to <b>retrieve</b>, <b>validate</b>, and <b>modify</b> user data. Using our API, you can obtain detailed information, validate customer input, and automatically edit it into the appropriate formats. <br><br>
    The new version of our API also supports automatic corrections, offering you suggestions and corrections for your inputs so that you always get the right data.
    ## Features in version 2.0
    Foxentry now provides you with a wide variety of information by providing a comprehensive set of endpoints for numerous data categories. Whether you need information on a <b>Company</b>, an <b>Email</b> address, a <b>Location</b>, a <b>Name</b>, or a <b>Phone number</b>, Foxentry can help. We are pleased to offer our valued clients a total of 11 endpoints in this new version. <br><br>
    With the latest version of the Foxentry API, we have implemented advanced <b>Corrections</b> and <b>Suggestions</b>. This means that the data you receive will be more refined and precise, enabling you to make data-driven decisions with the utmost confidence. <br><br>
    The latest Foxentry API version includes <b>HTTP global errors</b> but also <b>local error messages</b>, recognizing the need for clear and useful error feedback. If a problem happens while using the API, you will be notified in descriptive error messages, providing a smoother integration process and quicker issue resolution. <br><br>
    To further enhance data quality, Foxentry has introduced <b>Fixes</b> in the new version of the API. This means that even if there are minor errors in the data you provide, the API will intelligently identify and correct them, reducing the risk of inaccuracies in your results.
    ## API call
    Each API call should be directed to a specific endpoint URL. Each API call to an endpoint can only contain one API request.
    ## Environment
    Production: https://api.foxentry.com/
    ## Supported countries
    <table class="center">
      <tr>
        <th>Endpoint</th>
        <th>Supported countries</th>
      </tr>
      <tr>
        <td>company/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr>
      <tr>
        <td>company/search</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr>
      <tr>
        <td>company/get</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>email/validate</td>
        <td>Worldwide</td>
      </tr> 
      <tr>
        <td>email/search</td>
        <td>Worldwide</td>
      </tr> 
      <tr>
        <td>location/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/search</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/get</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/localize</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>name/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>phone/validate</td>
        <td>Worldwide</td>
      </tr>                                                                
    </table>

    ## Security
    As part of our commitment to data security, you are required to obtain a <b>Bearer token</b> from Foxentry. If you are a new user and do not have an API key, please fill out our registration form at https://foxentry.com/help-center/rest-api. 

    ## Need help? 
    Should you encounter any issues, have questions, or need assistance, please feel free to reach out to our dedicated support team at info@foxentry.cz. We are here to help you make the most of our API and resolve any questions you may have.
  contact:
    name: Foxentry
    email: info@foxentry.cz
    url: "http://www.foxentry.cz"
servers:
  - url: "https://api.foxentry.com"
  - url: "https://api.foxentry.com/v2.0"
paths:
  /company/validate:
    post:
      tags:
        - Company
      summary: Validate company data
      description: |-
        This endpoint requires at least 1 query parameter and will check if this combination of parameters values is valid.
        Returns informations about company matched inputed parameters values.
      operationId: ValidateCompanyData
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/ValidateCompanyData"
      responses:
        "200":
          $ref: "#/components/responses/ValidateCompanyData"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /company/search:
    post:
      tags:
        - Company
      summary: Company search
      description: "You can search for individual companies using this API endpoint. "
      operationId: CompanySearch
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/CompanySearch"
      responses:
        "200":
          $ref: "#/components/responses/CompanySearch"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /company/get:
    post:
      tags:
        - Company
      summary: Get company data
      description: "This endpoint returns all available data about the company. "
      operationId: GetCompanyData
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/GetCompanyData"
      responses:
        "200":
          $ref: "#/components/responses/GetCompanyData"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /email/validate:
    post:
      tags:
        - Email
      summary: Validate email
      description: |-
        Foxentry allows you to check if email address really exists. Foxentry also can give you information 
        if this mailbox is provided by some temporary emails service.
      operationId: ValidateEmail
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/ValidateEmail"
      responses:
        "200":
          $ref: "#/components/responses/ValidateEmail"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /email/search:
    post:
      tags:
        - Email
      summary: Email search
      description: Foxentry will automatically offer you options to complete the address based on the data you enter.
      operationId: EmailSearch
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/EmailSearch"
      responses:
        "200":
          $ref: "#/components/responses/EmailSearch"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /location/validate:
    post:
      tags:
        - Locations
      summary: Location validation
      description: Foxentry allows you to check validity and real existence of addresses.
      operationId: LocationValidation
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/LocationValidation"
      responses:
        "200":
          $ref: "#/components/responses/LocationValidation"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /location/search:
    post:
      tags:
        - Locations
      summary: Location Search
      description: Use this API endpoint to search for locations.
      operationId: LocationSearch
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/LocationSearch"
      responses:
        "200":
          $ref: "#/components/responses/LocationSearch"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /location/get:
    post:
      tags:
        - Locations
      summary: Location get
      description: Foxentry allows you to check validity and real existence of addresses.
      operationId: LocationGet
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/LocationGet"
      responses:
        "200":
          $ref: "#/components/responses/LocationGet"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /location/localize:
    post:
      tags:
        - Locations
      summary: Location localization
      description: |-
        This endpoint returns max. 10 addresses nearby inputed GPS coordinates. Usable in case you want to localize
        end user by his GPS coordinates (obtained through browser geolocalization service).
      operationId: LocationLocalization
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/LocationLocalization"
      responses:
        "200":
          $ref: "#/components/responses/LocationLocalization"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /name/validate:
    post:
      tags:
        - Name
      summary: Name validation
      description: "Foxentry allows you to check validity and real existence of names. "
      operationId: NameValidation
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/NameValidation"
      responses:
        "200":
          $ref: "#/components/responses/NameValidation"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /phone/validate:
    post:
      tags:
        - Phone
      summary: Validate phone number
      description: |-
        Foxentry allows you to check validity and real existence of phone number. Foxentry also can give you
        additional informations about validated phone number, for example name of mobile carrier.
      operationId: ValidatePhoneNumber
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/ValidatePhoneNumber"
      responses:
        "200":
          $ref: "#/components/responses/ValidatePhoneNumber"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
tags:
  - name: Company
    description: Company operations
  - name: Email
    description: Email operations
  - name: Locations
    description: Location operations
  - name: Name
    description: Names operations
  - name: Phone
    description: Phone operations
components:
  requestBodies:
    LocationSearch:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/LocationSearchRequests"
            required:
              - requests
    LocationLocalization:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/LocationLocalizationRequests"
            required:
              - requests
    LocationGet:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/LocationGetRequests"
            required:
              - requests
    LocationValidation:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/LocationValidationRequests"
            required:
              - requests
    ValidateEmail:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/ValidateEmailRequests"
            required:
              - requests
    ValidatePhoneNumber:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/ValidatePhoneNumberRequests"
            required:
              - requests
    NameValidation:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/NameValidationRequests"
            required:
              - requests
    ValidateCompanyData:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/ValidateCompanyDataRequests"
            required:
              - requests
    CompanySearch:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/CompanySearchRequests"
            required:
              - requests
    EmailSearch:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/EmailSearchRequests"
            required:
              - requests
    GetCompanyData:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/GetCompanyDataRequests"
            required:
              - requests
  securitySchemes:
    BearerAuth:
      type: http
      description: "Bearer token formatted API key. If you do not have an API key, please contact us right away."
      scheme: bearer
  responses:
    GetCompanyData:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 200
              request:
                $ref: "#/components/schemas/GetCompanyDataResponseRequest"
              response:
                $ref: "#/components/schemas/GetCompanyDataResults"
              errors:
                type: array
            required:
              - status
              - request
              - response
    EmailSearch:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 200
              request:
                allOf:
                  - $ref: "#/components/schemas/GlobalRequest"
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: email/search
                      query:
                        type: object
                        properties:
                          email:
                            type: string
                            description: Suggested email
                            example: info@foxentry.com
                        required:
                          - email
                      options:
                        type: object
                        properties:
                          resultsLimit:
                            type: number
                            description: Number of results
                            minimum: 1
                            maximum: 5
                            example: 5
                      client:
                        $ref: "#/components/schemas/ClientRequest"
              response:
                $ref: "#/components/schemas/EmailSearchResponse"
              errors:
                type: array
            required:
              - status
    CompanySearch:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 200
              request:
                $ref: "#/components/schemas/CompanySearchResultsRequest"
              response:
                $ref: "#/components/schemas/CompanySearchResults"
              errors:
                type: array
            required:
              - status
              - request
              - response
    NameValidation:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: number
                description: API call status.
                example: 200
              request:
                $ref: "#/components/schemas/NameValidationResponseRequest"
              response:
                $ref: "#/components/schemas/NameValidationResults"
              errors:
                type: array
            required:
              - status
              - request
              - response
              - errors
    ValidatePhoneNumber:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: number
                description: Status of response.
                example: 200
              request:
                $ref: "#/components/schemas/ValidatePhoneNumberResponseRequest"
              response:
                $ref: "#/components/schemas/ValidatePhoneNumberResults"
              errors:
                type: array
            required:
              - status
              - request
              - response
    LocationSearch:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                format: int32
              request:
                allOf:
                  - $ref: "#/components/schemas/GlobalRequest"
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: location/search
                      query:
                        type: object
                        properties:
                          type:
                            enum:
                              - street
                              - streetWithNumber
                              - number.full
                              - number.part1
                              - number.part1.number
                              - number.part2
                              - number.part2.number
                              - city
                              - zip
                              - full
                          value:
                            oneOf:
                              - type: string
                              - type: integer
                          filter:
                            type: array
                            items:
                              enum:
                                - street
                                - streetWithNumber
                                - number.full
                                - number.part1
                                - number.part1.number
                                - number.part2
                                - number.part2.number
                                - city
                                - zip
                                - full
                            example:
                              - street
                        example:
                          type: street
                          value: Jeseniova
                      options:
                        $ref: "#/components/schemas/LocationRequestOptions"
                      client:
                        $ref: "#/components/schemas/ClientRequest"
              response:
                $ref: "#/components/schemas/LocationSearchResponse"
              errors:
                type: array
            required:
              - status
    LocationLocalization:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                format: int32
              request:
                allOf:
                  - $ref: "#/components/schemas/GlobalRequest"
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: location/localize
                      client:
                        allOf:
                          - $ref: "#/components/schemas/Client"
                          - type: object
                            properties:
                              location:
                                type: object
                                properties:
                                  lat:
                                    type: number
                                    example: 50.083
                                  lon:
                                    type: number
                                    example: 14.417
                                required:
                                  - lat
                                  - lon
                      options:
                        allOf:
                          - $ref: "#/components/schemas/LocationRequestOptionsSearch"
                          - type: object
                            properties:
                              singleLocationResultDistance:
                                type: number
                                description: "Distance in meters used for single location result. It is measured in meters and represents a value for determining whether only one address or multiple addresses should be returned. It is the distance in meters from the user's GPS coordinates. If there is only one address within a radius of X (singleLocationResultDistance) meters, it will be returned as the only result. If there are multiple addresses within a radius of X, all matching addresses will be returned up to the limit of options.resultsLimit. If there are no addresses within a radius of X, the closest addresses outside the radius of X up to a maximum of options.resultsLimit will be returned."
                                minimum: 1
                                maximum: 100
                                example: 15
              response:
                $ref: "#/components/schemas/LocationLocalizationResults"
            required:
              - status
              - request
              - response
    LocationGet:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                format: int32
              request:
                allOf:
                  - $ref: "#/components/schemas/GlobalRequest"
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: location/get
                      query:
                        type: object
                        properties:
                          administrativeArea.country:
                            type: string
                            description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
                            example: CZ
                          id:
                            type: string
                            description: Location ID
                            example: "2070391"
                        required:
                          - administrativeArea.country
                          - id
                      options:
                        type: object
                        properties:
                          idType:
                            enum:
                              - internal
                              - external
                            example: internal
                          dataScope:
                            enum:
                              - basic
                              - full
                            example: full
                        required:
                          - idType
                          - dataScope
                      client:
                        $ref: "#/components/schemas/ClientRequest"
              errors:
                type: array
              response:
                $ref: "#/components/schemas/LocationGetResults"
            required:
              - status
              - request
              - errors
              - response
    LocationValidation:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                format: int32
              errors:
                type: array
              request:
                allOf:
                  - $ref: "#/components/schemas/GlobalRequest"
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: location/validate
                      query:
                        type: object
                        properties:
                          street:
                            type: string
                            nullable: true
                            example: Jeseniova
                          streetWithNumber:
                            type: string
                            nullable: true
                            example: Jeseniova 55
                          number.full:
                            type: string
                            nullable: true
                            example: 1151/55d
                          number.part1:
                            type: string
                            nullable: true
                            example: "1151"
                          number.part1.number:
                            type: string
                            nullable: true
                            example: "1151"
                          number.part1.latter:
                            type: string
                            nullable: true
                            example: null
                          number.part2:
                            type: string
                            nullable: true
                            example: 55d
                          number.part2.number:
                            type: string
                            nullable: true
                            example: "55"
                          number.part2.latter:
                            type: string
                            nullable: true
                            example: d
                          city:
                            type: string
                            nullable: true
                            example: Praha
                          zip:
                            type: string
                            nullable: true
                            example: 130 00
                          full:
                            type: string
                            nullable: true
                            example: "Jeseniova 2770/56d, 130 00 Praha"
                          administrativeArea.country:
                            type: string
                            nullable: true
                            description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
                            example: CZ
                      options:
                        $ref: "#/components/schemas/LocationRequestOptions"
                      client:
                        $ref: "#/components/schemas/ClientRequest"
              response:
                $ref: "#/components/schemas/LocationValidationResponse"
            required:
              - status
              - errors
              - request
              - response
    ValidateCompanyData:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 200
              request:
                $ref: "#/components/schemas/ValidateCompanyDataResultsRequest"
              response:
                $ref: "#/components/schemas/ValidateCompanyDataResults"
              errors:
                type: array
            required:
              - status
              - request
              - response
    ValidateEmail:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
              status:
                type: integer
                description: Response status
                example: 200
              request:
                allOf:
                  - $ref: "#/components/schemas/GlobalRequest"
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: location/validate
                      client:
                        $ref: "#/components/schemas/Client"
                      query:
                        type: object
                        properties:
                          email:
                            type: string
                            example: info@foxentry.cz
                        required:
                          - email
                      options:
                        type: object
                        properties:
                          validationType:
                            enum:
                              - basic
                              - extended
                            example: extended
                          acceptDisposableEmails:
                            type: boolean
                            example: true
                          acceptFreemails:
                            type: boolean
                            example: true
              response:
                $ref: "#/components/schemas/ValidateEmailResponse"
            required:
              - errors
              - status
              - request
              - response
    Error400:
      description: Bad Request.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ResponseStatus400"
              - type: object
                properties:
                  request:
                    $ref: "#/components/schemas/GlobalRequest"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/Error400RequestBodyEmpty"
                        - $ref: "#/components/schemas/Error400RequestBodyNotJson"
                        - $ref: "#/components/schemas/Error400RequestBodyNoRequest"
                        - $ref: "#/components/schemas/Error400RequestBodyTooBig"
                        - $ref: "#/components/schemas/Error400RequestOptionsParameterNotSupported"
                        - $ref: "#/components/schemas/Error400RequestOptionParameterValueNotSupported"
                        - $ref: "#/components/schemas/Error400RequestQueryNotSent"
                        - $ref: "#/components/schemas/Error400RequestQueryParameterCombination"
                        - $ref: "#/components/schemas/Error400RequestQueryParameterMissing"
                        - $ref: "#/components/schemas/Error400RequestQueryParameterNotSupported"
                        - $ref: "#/components/schemas/Error400RequestQueryParameterRequired"
    Error401:
      description: Unauthorized.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ResponseStatus401"
              - type: object
                properties:
                  request:
                    $ref: "#/components/schemas/GlobalRequest"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: "#/components/schemas/Error401RequestAuth"
    Error402:
      description: Payment Required.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ResponseStatus402"
              - type: object
                properties:
                  request:
                    $ref: "#/components/schemas/GlobalRequest"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: "#/components/schemas/Error402RequestBillingNoCredit"
    Error403:
      description: Forbidden.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ResponseStatus403"
              - type: object
                properties:
                  request:
                    $ref: "#/components/schemas/GlobalRequest"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/Error403RequestAuthKey"
                        - $ref: "#/components/schemas/Error403RequestAuthToken"
                        - $ref: "#/components/schemas/Error403RequestNotAllowedDomain"
                        - $ref: "#/components/schemas/Error403RequestNotAllowedIp"
    Error404:
      description: Not Found.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ResponseStatus404"
              - type: object
                properties:
                  request:
                    $ref: "#/components/schemas/GlobalRequest"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/Error404RequestApiVersion"
                        - $ref: "#/components/schemas/Error404RequestEndpointNotFound"
                        - $ref: "#/components/schemas/Error404RequestProjetNotFound"
    Error405:
      description: Method Not Allowed.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ResponseStatus405"
              - type: object
                properties:
                  request:
                    $ref: "#/components/schemas/GlobalRequest"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: "#/components/schemas/Error405RequestNotAllowedMethod"
    Error429:
      description: Too Many Requests.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ResponseStatus429"
              - type: object
                properties:
                  request:
                    $ref: "#/components/schemas/GlobalRequest"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/Error429RequestBillingServiceLimit"
                        - $ref: "#/components/schemas/Error429RequestRateLimitCreditPerDay"
                        - $ref: "#/components/schemas/Error429RequestRateLimitCreditPerIp"
                        - $ref: "#/components/schemas/Error429RequestRateLimitTooManyRequests"
    Error500:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ResponseStatus500"
              - type: object
                properties:
                  request:
                    $ref: "#/components/schemas/GlobalRequest"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/Error500InternalBilling"
                        - $ref: "#/components/schemas/Error500InternalDatabaseConnection"
                        - $ref: "#/components/schemas/Error500InternalDatabaseError"
                        - $ref: "#/components/schemas/Error500InternalDatabaseNotAvailable"
                        - $ref: "#/components/schemas/Error500InternalError"
                        - $ref: "#/components/schemas/Error500Timeout"
                        - $ref: "#/components/schemas/Error500RequestProjectNoData"
    Error503:
      description: Service Unavailable.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ResponseStatus503"
              - type: object
                properties:
                  request:
                    $ref: "#/components/schemas/GlobalRequest"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: "#/components/schemas/Error503RequestEndpointNotAvailable"
  schemas:
    LocationSearchRequests:
      type: object
      properties:
        query:
          type: object
          properties:
            type:
              enum:
                - street
                - streetWithNumber
                - number.full
                - number.part1
                - number.part2
                - city
                - zip
                - administrativeArea.country
            value:
              oneOf:
                - type: string
                - type: integer
            filter:
              type: object
              description: TODO
              properties:
                street:
                  type: string
                  nullable: true
                  description: TODO
                  example: Jeseniova
                streetWithNumber:
                  type: string
                  nullable: true
                  description: TODO
                  example: Jeseniova 55
                number.full:
                  type: string
                  nullable: true
                  description: TODO
                  example: 1151/55d
                number.part1:
                  type: string
                  nullable: true
                  description: TODO
                  example: "1151"
                number.part2:
                  type: string
                  nullable: true
                  description: TODO
                  example: 55d
                city:
                  type: string
                  nullable: true
                  description: TODO
                  example: Praha
                zip:
                  type: string
                  nullable: true
                  description: TODO
                  example: 130 00
                administrativeArea.country:
                  type: string
                  nullable: true
                  description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
                  example: CZ
          required:
            - type
            - value
          example:
            type: street
            value: Jeseniova
        options:
          $ref: "#/components/schemas/LocationRequestOptionsSearch"
        client:
          $ref: "#/components/schemas/ClientRequest"
      required:
        - query
    LocationRequestOptionsSearch:
      type: object
      properties:
        dataScope:
          enum:
            - basic
            - full
          default: basic
          example: full
        countryMode:
          enum:
            - prefer
            - limit
          default: prefer
          example: prefer
        resultsLimit:
          type: integer
          minimum: 1
          maximum: 20
          default: 10
          example: 10
        cityFormat:
          enum:
            - minimal
            - basic
            - extended
          default: basic
          example: extended
        zipFormat:
          enum:
            - numeric
            - standard
          default: standard
          example: numeric
    ClientRequest:
      type: object
      description: TODO
      properties:
        country:
          type: string
          description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          example: CZ
        location:
          type: object
          description: TODO
          properties:
            lat:
              type: number
              description: Client's latitude
              example: 50.0628
            lon:
              type: number
              description: Client's longitude
              example: 13.9271
    LocationLocalizationRequests:
      type: object
      properties:
        client:
          allOf:
            - $ref: "#/components/schemas/Client"
            - type: object
              description: TODO
              properties:
                location:
                  type: object
                  properties:
                    lat:
                      type: number
                      description: TODO
                      example: 50.083
                    lon:
                      type: number
                      description: TODO
                      example: 14.417
                  required:
                    - lat
                    - lon
        options:
          allOf:
            - $ref: "#/components/schemas/LocationRequestOptions"
            - type: object
              properties:
                singleLocationResultDistance:
                  type: number
                  description: "Distance in meters used for single location result. It is measured in meters and represents a value for determining whether only one address or multiple addresses should be returned. It is the distance in meters from the user's GPS coordinates. If there is only one address within a radius of X (singleLocationResultDistance) meters, it will be returned as the only result. If there are multiple addresses within a radius of X, all matching addresses will be returned up to the limit of options.resultsLimit. If there are no addresses within a radius of X, the closest addresses outside the radius of X up to a maximum of options.resultsLimit will be returned."
                  example: 100
      required:
        - client
    Client:
      type: object
      description: TODO
      properties:
        ip:
          type: string
          example: 127.0.1.1
        location:
          type: object
          description: TODO
          properties:
            lat:
              type: number
              description: Latitude coordinate.
              example: 50.088816
            lon:
              type: number
              description: Longitude coordinate.
              example: 14.460778
    LocationRequestOptions:
      type: object
      properties:
        dataScope:
          enum:
            - basic
            - full
          default: basic
          example: full
        countryMode:
          enum:
            - prefer
            - limit
          default: prefer
          example: prefer
        resultsLimit:
          type: integer
          minimum: 1
          maximum: 20
          default: 10
          example: 10
        cityFormat:
          enum:
            - minimal
            - basic
            - extended
          default: basic
          example: extended
        zipFormat:
          enum:
            - numeric
            - standard
          default: standard
          example: numeric
        acceptPostOfficeAsCity:
          type: boolean
          default: false
          example: true
    LocationGetRequests:
      type: object
      properties:
        query:
          type: object
          properties:
            administrativeArea.country:
              type: string
              description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
              example: CZ
            id:
              type: string
              description: Location ID
              example: "2070391"
          required:
            - administrativeArea.country
            - id
        options:
          type: object
          description: Query options.
          properties:
            idType:
              enum:
                - internal
                - external
              default: internal
              example: internal
            dataScope:
              enum:
                - basic
                - full
              default: basic
              example: full
          required:
            - idType
            - dataScope
        client:
          $ref: "#/components/schemas/ClientRequest"
      required:
        - query
    LocationValidationRequests:
      type: object
      properties:
        query:
          type: object
          properties:
            street:
              type: string
              nullable: true
              description: TODO
              example: Jeseniova
            streetWithNumber:
              type: string
              nullable: true
              description: TODO
              example: Jeseniova 55
            number.full:
              type: string
              nullable: true
              description: TODO
              example: 1151/55d
            number.part1:
              type: string
              nullable: true
              description: TODO
              example: "1151"
            number.part1.number:
              type: string
              nullable: true
              description: TODO
              example: "1151"
            number.part1.latter:
              type: string
              nullable: true
              description: TODO
              example: null
            number.part2:
              type: string
              nullable: true
              description: TODO
              example: 55d
            number.part2.number:
              type: string
              nullable: true
              description: TODO
              example: "55"
            number.part2.latter:
              type: string
              nullable: true
              description: TODO
              example: d
            city:
              type: string
              nullable: true
              description: TODO
              example: Praha
            zip:
              type: string
              nullable: true
              description: TODO
              example: 130 00
            full:
              type: string
              nullable: true
              description: TODO
              example: "Jeseniova 2770/56d, 130 00 Praha"
            administrativeArea.country:
              type: string
              nullable: true
              description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
              example: CZ
        options:
          $ref: "#/components/schemas/LocationRequestOptions"
        client:
          $ref: "#/components/schemas/ClientRequest"
      required:
        - query
    ValidateEmailRequests:
      type: object
      properties:
        client:
          $ref: "#/components/schemas/Client"
        query:
          type: object
          properties:
            email:
              type: string
              description: TODO
              example: info@foxentry.cz
          required:
            - email
        options:
          type: object
          description: Query options.
          properties:
            validationType:
              enum:
                - basic
                - extended
              description: TODO
              default: basic
              example: extended
            acceptDisposableEmails:
              type: boolean
              description: TODO
              default: true
              example: true
            acceptFreemails:
              type: boolean
              description: TODO
              default: true
              example: true
      required:
        - query
    ValidatePhoneNumberRequests:
      type: object
      properties:
        query:
          type: object
          properties:
            prefix:
              type: string
              description: Phone number prefix.
              example: "+420"
            number:
              type: integer
              description: Phone number.
              example: 607123456
            numberWithPrefix:
              type: string
              description: Phone number with prefix.
              example: "+420775111222"
        options:
          type: object
          description: Query options.
          properties:
            validationType:
              enum:
                - basic
                - extended
              description: Type of validation.
              default: basic
              example: extended
            allowedPrefixes:
              type: array
              description: List of allowed prefixies.
              items:
                type: string
                example: "+420"
            defaultPrefix:
              type: string
              description: Default international prefix if not part of the query.
              example: "+420"
      required:
        - query
    NameValidationRequests:
      type: object
      properties:
        query:
          type: object
          properties:
            name:
              type: string
              nullable: true
              description: TODO
              example: Petr
            surname:
              type: string
              nullable: true
              description: TODO
              example: Novák
            nameSurname:
              type: string
              nullable: true
              description: TODO
              default: null
              example: Petr Novák
        options:
          type: object
          description: Query options.
          properties:
            dataScope:
              enum:
                - basic
                - full
              default: basic
              example: full
            acceptDegrees:
              type: boolean
              description: "Allow to enter a title directly into the name, surname or nameSurname input."
              default: false
              example: false
            acceptContext:
              type: boolean
              description: "Allow to insert context directly into name, surname or nameSurname."
              default: false
              example: false
            validationDepth:
              enum:
                - minimal
                - moderate
                - strict
              description: Specifies the scope and depth of name validation.
              default: minimal
              example: minimal
            smartMode:
              type: boolean
              description: "Allows to correct the name (resultCorrected). If this is disabled, the corrections are given as a suggestion."
              default: true
              example: false
          required:
            - dataScope
      required:
        - query
    ValidateCompanyDataRequests:
      type: object
      properties:
        query:
          type: object
          properties:
            name:
              type: string
              description: Company name
              example: Avantro s.r.o.
            administrativeArea.country:
              type: string
              description: "Country codes in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
              example: CZ
            registrationNumber:
              type: string
              description: Company registration number (ID)
              example: Jeseniova 55
            taxNumber:
              type: string
              description: Company national TAX number
              example: Jeseniova
            vatNumber:
              type: string
              description: Company VAT number
              example: CZ123456789
        options:
          type: object
          description: Query options.
          properties:
            dataScope:
              enum:
                - basic
                - extended
                - full
              description: Data scope of returned data.
              default: basic
              example: full
            countryMode:
              enum:
                - limit
                - prefer
                - null
              description: "prefer = Prefer results matching filter, limit = Limit to results matching filter."
              default: prefer
              example: limit
            resultsLimit:
              type: integer
              description: Results limit of response.
              minimum: 1
              maximum: 20
              default: 10
            includeTerminatedSubjects:
              type: boolean
              description: Whether or not to return in the API response also entities that have already been terminated.
              default: false
              example: true
      required:
        - query
    CompanySearchRequests:
      type: object
      properties:
        query:
          type: object
          properties:
            type:
              enum:
                - name
                - registrationNumber
                - taxNumber
                - vatNumber
              example: name
            value:
              type: string
              description: The input value you"re looking for.
              example: Avantro
            filter:
              type: object
              description: TODO
              properties:
                name:
                  type: string
                  description: Company name.
                  example: Avantro s.r.o.
                administrativeArea.country:
                  type: string
                  description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
                  example: CZ
                registrationNumber:
                  type: string
                  description: Company registration number (ID).
                  example: Jeseniova 55
                taxNumber:
                  type: string
                  description: Company national TAX number.
                  example: Jeseniova
                vatNumber:
                  type: string
                  description: Company VAT number.
                  example: CZ123456789
          required:
            - type
            - value
        options:
          type: object
          description: Query options.
          properties:
            dataScope:
              enum:
                - basic
                - extended
                - full
              description: Data scope of returned data.
              default: basic
              example: full
            countryMode:
              enum:
                - limit
                - prefer
              description: "prefer = Prefer results matching filter, limit = Limit to results matching filter."
              default: prefer
              example: limit
            resultsLimit:
              type: integer
              description: Result limit.
              minimum: 1
              maximum: 20
              default: 10
              example: 10
            includeTerminatedSubjects:
              type: boolean
              description: Whether or not to return in the output also entities that have already been terminated.
              default: false
              example: true
      required:
        - query
    EmailSearchRequests:
      type: object
      properties:
        query:
          type: object
          properties:
            email:
              type: string
              description: Suggested email
              example: info@foxentry.com
          required:
            - email
        options:
          type: object
          description: Query options.
          properties:
            resultsLimit:
              type: number
              description: Number of results
              minimum: 1
              maximum: 5
              example: 5
        client:
          $ref: "#/components/schemas/ClientRequest"
    GetCompanyDataRequests:
      type: object
      properties:
        query:
          type: object
          properties:
            administrativeArea.country:
              type: string
              description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
              example: CZ
            registrationNumber:
              type: string
              description: Company registration number.
              example: "04997476"
          required:
            - administrativeArea.country
            - registrationNumber
        options:
          $ref: "#/components/schemas/CompanyDataRequestOption"
      required:
        - query
    CompanyDataRequestOption:
      type: object
      properties:
        dataScope:
          enum:
            - basic
            - extended
            - full
          description: Scope of required data.
          default: basic
          example: full
        includeTerminatedSubjects:
          type: boolean
          description: Whether or not to include entities that have already ended their existence in the output.
          default: false
          example: false
    GetCompanyDataResponseRequest:
      type: object
      properties:
        endpoint:
          type: string
          description: Endpoint used in API call.
          example: company/get
        code:
          type: string
          description: Internal API call code.
          example: gc0nCfcELaPSHH4Qo4UBaC7DbAj6G4
        customId:
          type: string
          nullable: true
          description: Custom ID assigned by you if you need so.
          example: customer567914
        query:
          type: object
          properties:
            administrativeArea.country:
              type: string
              description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
              example: CZ
            registrationNumber:
              type: number
              description: Company registration number.
              example: 4997476
        options:
          type: object
          description: Query options.
          properties:
            dataScope:
              enum:
                - basic
                - extended
                - full
              description: Scope of required data.
              default: basic
              example: full
        client:
          $ref: "#/components/schemas/ClientRequest"
    GetCompanyDataResults:
      type: object
      properties:
        resultCount:
          type: integer
          description: Number of results.
          example: 1
        results:
          type: array
          description: TODO
          items:
            $ref: "#/components/schemas/CompanyResultsResponseResults"
      required:
        - resultCount
        - results
    CompanyResultsResponseResults:
      type: object
      properties:
        data:
          type: object
          description: TODO
          properties:
            administrativeArea:
              type: object
              description: TODO
              properties:
                country:
                  type: string
                  description: "Country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
                  example: CZ
            name:
              type: string
              description: Name of company.
              example: Avantro s.r.o.
            registrationNumber:
              type: string
              description: Company registration number.
              example: "04997476"
            taxNumber:
              type: string
              nullable: true
              description: Company tax number.
              example: CZ04997476
            vatNumber:
              type: string
              description: Company vat number.
              example: CZ04997476
            vatNumberSpecial:
              type: string
              nullable: true
              description: Special vat number in case that subject is part of VAT group.
              example: CZ0581019
            address:
              type: object
              description: TODO
              properties:
                data:
                  $ref: "#/components/schemas/LocationData"
            addressOfficial:
              $ref: "#/components/schemas/LocationOficial"
              description: TODO
            nace:
              type: array
              description: Types of business
              items:
                type: object
                properties:
                  code:
                    type: number
                    description: Code of business.
                    example: 74
                  name:
                    type: string
                    description: Name of business
                    example: "Ostatní profesní, vědecké a technické činnosti"
                  isPrimary:
                    type: boolean
                    nullable: true
                    description: Determines if it is the main object of the business.
                    example: false
            databoxes:
              type: array
              description: TODO
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Code of databox.
                    example: txutpba
                  name:
                    type: string
                    description: Name of databox.
                    example: AVANTRO s.r.o.
                  receivingMessages:
                    type: number
                    description: Number of receiving messages.
                    example: 1
            registrations:
              type: array
              description: TODO
              items:
                type: object
                properties:
                  type:
                    enum:
                      - businessRegister
                      - vatRegister
                    description: Type of registration.
                    example: businessRegister
                  data:
                    type: object
                    description: TODO
                    properties:
                      registrator:
                        type: object
                        properties:
                          name:
                            type: string
                            description: TODO
                            example: Městský soud v Praze
                          detail:
                            type: string
                            nullable: true
                            description: Detail of registration.
                            example: "Územní pracoviště pro Prahu 8, Trojská 13a, PRAHA 8, tel. 266 013 111"
                      reference:
                        type: string
                        nullable: true
                        description: Registration reference.
                        example: C 256795
            legalForm:
              type: object
              description: TODO
              properties:
                code:
                  type: number
                  description: Code of legal form.
                  example: 112
                name:
                  type: string
                  description: Name of legal form.
                  example: Společnost s ručením omezeným.
            legalFormSpecific:
              type: object
              description: TODO
              properties:
                code:
                  type: string
                  nullable: true
                  description: Code of legal form for Polish companies.
                  example: null
                name:
                  type: string
                  nullable: true
                  description: Name of legal form for Polish companies.
                  example: null
            esa2010:
              type: object
              description: The European System of National and Regional Accounts.
              properties:
                code:
                  type: number
                  nullable: true
                  description: Code of ESA2010.
                  example: 11002
                name:
                  type: string
                  nullable: true
                  description: Name of ESA2010.
                  example: Nefinanční podniky soukromé národní
            dates:
              type: object
              description: TODO
              properties:
                created:
                  type: string
                  description: Company create date.
                  example: "2016-04-15"
                terminated:
                  type: boolean
                  nullable: true
                  description: TODO
                  example: true
            employees:
              type: object
              description: TODO
              properties:
                count:
                  type: number
                  nullable: true
                  description: Number of employees.
                  example: null
                category:
                  type: string
                  nullable: true
                  description: Category of employees.
                  example: TODO
            insolvency:
              type: object
              nullable: true
              description: TODO
              properties:
                history:
                  type: array
                  items:
                    type: object
                    properties:
                      reference:
                        type: string
                        description: Official reference of insolovency.
                        example: TODO
                      dateFrom:
                        type: string
                        description: Since when is the insolovence valid.
                        format: date
                        example: "2021-08-01"
                      dateTo:
                        type: string
                        description: Until when is the insolvency valid.
                        format: date
                        example: "2025-08-01"
                      court:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of court
                            example: Krajský soud v Hradci Králové.
                      status:
                        type: string
                        description: Status of insolovency.
                        example: NEVYRIZENA
                      detailUrl:
                        type: string
                        description: Detail URL of insolovency.
                        format: url
                        example: "https://isir.justice.cz/isir/ueu/evidence_upadcu_detail.do?id=F"
            businessPremises:
              type: array
              nullable: true
              description: TODO
              items:
                type: object
                properties:
                  label:
                    type: string
                    nullable: true
                    description: Label of business premises
                    example: Obchodní centrum Havlíčkův Brod.
                  address:
                    type: object
                    properties:
                      full:
                        type: string
                        description: Full address.
                        example: "Nad Rybníkem 3169, 580 01,  Havlíčkův Brod"
                  activitySubjects:
                    type: string
                    description: Subjects activity.
                    example: Zprostředkovatelská činnost
            authority:
              type: object
              description: TODO
              properties:
                name:
                  type: string
                  description: Name of authority.
                  example: Statutární orgán
                members:
                  type: array
                  description: TODO
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name of member.
                        example: Pavel Hrdlička
                      address:
                        type: object
                        description: TODO
                        properties:
                          data:
                            $ref: "#/components/schemas/LocationData"
                      addressOficial:
                        $ref: "#/components/schemas/LocationOficial"
                      function:
                        type: string
                        nullable: true
                        description: Member function.
                        example: jednatel
                      birthDate:
                        type: string
                        nullable: true
                        description: Member date of birth.
                        example: TODO
                      registrationNumber:
                        type: number
                        nullable: true
                        description: Member registration number.
                        example: null
                decisions:
                  type: array
                  description: TODO
                  items:
                    type: string
                    nullable: true
                    description: Member decisions.
                    example: Společnost zastupuje jednatel samostatně.
            capital:
              type: object
              description: TODO
              properties:
                value:
                  type: object
                  description: TODO
                  properties:
                    amount:
                      type: integer
                      description: Amount of capital.
                      example: 200000
                    currency:
                      type: string
                      description: Currency of capital.
                      example: CZK
                shareholders:
                  type: array
                  description: TODO
                  items:
                    type: object
                    properties:
                      shareholder:
                        type: object
                        properties:
                          text:
                            type: string
                            description: Information about shareholder.
                            example: "PAVEL HRDLIČKA , dat. nar. 14. listopadu 1990 V Zahradách 277, 751 11 Radslavice"
                      share:
                        type: object
                        description: TODO
                        properties:
                          amount:
                            type: integer
                            description: Amount of share.
                            example: 200000
                          currency:
                            type: string
                            description: Currency of share.
                            example: CZK
                          percent:
                            type: integer
                            description: Share percentage.
                            maximum: 100
                            example: 100
                          percentPaid:
                            type: integer
                            description: Share percentage paid.
                            maximum: 100
                            example: 100
                      info:
                        type: array
                        description: TODO
                        items:
                          type: string
                          description: Information about share
                          example: "Druh podílu: základní, se kterým nejsou spojené žádné zvláštní práva a povinnosti"
                stocks:
                  type: array
                  description: TODO
                  items:
                    type: string
                    description: List of stocks.
                    example: "100 ks akcie na jméno v listinné podobě ve jmenovité hodnotě 20 000 ,- Kč."
            tradeLicences:
              type: array
              description: TODO
              items:
                type: object
                description: TODO
                properties:
                  type:
                    type: string
                    description: Type of trade licence.
                    example: Ohlašovací volná
                  name:
                    type: string
                    description: Name of trade licenses.
                    example: "Výroba, obchod a služby neuvedené v přílohách 1 až 3 živnostenského zákona"
                  valid:
                    type: object
                    properties:
                      from:
                        type: string
                        description: Valid from.
                        example: "2016-04-15"
                      fromText:
                        type: string
                        nullable: true
                        description: Description of validation (from).
                        example: Dnem zápisu do spolkového rejstříku.
                      to:
                        type: string
                        description: Valid to.
                        example: "2030-04-15"
                      toText:
                        type: string
                        nullable: true
                        description: Description of validation (to).
                        example: Na dobu neurčitou.
                  interrupted:
                    type: object
                    description: TODO
                    properties:
                      from:
                        type: string
                        nullable: true
                        description: Validity of the authorisation (from).
                        format: date
                        example: "2021-08-15"
                      to:
                        type: string
                        nullable: true
                        description: Validity of the authorisation (to).
                        format: date
                        example: "2025-08-15"
                  responsiblePerson:
                    type: string
                    description: Responsible person.
                    example: Jan Novák
                  activitySubject:
                    type: array
                    items:
                      type: string
                      description: TODO
                      example: Broušení technického a šperkového kamene
            vat:
              type: object
              description: TODO
              properties:
                status:
                  type: string
                  description: Vat current status.
                  example: payer
                reliability:
                  type: object
                  description: TODO
                  properties:
                    reliable:
                      type: boolean
                      description: Determines whether or not the subject is reliable.
                      example: true
                    unrealiableFrom:
                      type: boolean
                      nullable: true
                      description: Determines from when a subject is unreliable.
                      example: true
                bankAccounts:
                  type: array
                  description: TODO
                  items:
                    type: object
                    properties:
                      number:
                        type: string
                        description: TODO
                        example: 55567899/2010
                history:
                  type: object
                  description: TODO
                  properties:
                    vatNumber:
                      type: string
                      description: Company vat number.
                      example: CZ04997476
                    registrationType:
                      type: string
                      description: Company registration type.
                      example: payer
                    validFrom:
                      type: string
                      description: Valid from.
                      example: "2017-09-01"
                    validTo:
                      type: string
                      nullable: true
                      description: Valid to.
                      example: null
                    isGroupRegistration:
                      type: boolean
                      description: Is part of group registration.
                      example: false
      required:
        - data
    LocationData:
      type: object
      properties:
        administrativeArea:
          $ref: "#/components/schemas/DataAdministrativeArea"
        ids:
          type: object
          description: TODO
          properties:
            internal:
              type: string
              nullable: true
              description: Internal address ID.
              example: "2070391"
            external:
              type: string
              nullable: true
              description: External address ID.
              example: "22349995"
            region:
              type: string
              nullable: true
              description: Region ID.
              example: "19"
            discrict:
              type: string
              nullable: true
              description: District ID.
              example: "9999"
            cityDistrictSpecial:
              type: string
              nullable: true
              description: City district special ID.
              example: "86"
            cityDistrict:
              type: string
              nullable: true
              description: City district ID.
              example: "500208"
            cityPart:
              type: string
              nullable: true
              description: City part ID.
              example: "400637"
            cadastralArea:
              type: string
              nullable: true
              description: Cadastral area ID.
              example: "730955"
            city:
              type: string
              nullable: true
              description: City ID.
              example: "554782"
            street:
              type: string
              nullable: true
              description: Street ID.
              example: "554782"
        street:
          type: string
          description: Street.
          example: Jeseniova
        number:
          $ref: "#/components/schemas/LocationNumber"
        streetWithNumber:
          type: string
          description: Street with number.
          example: Jeseniova 1151/55
        city:
          type: string
          description: Location city.
          example: Praha
        zip:
          type: string
          description: ZIP code.
          example: "13000"
        postOffice:
          type: object
          description: TODO
          properties:
            name:
              type: string
              example: Praha 086
          required:
            - name
        geometry:
          $ref: "#/components/schemas/DataGeometry"
        full:
          type: string
          example: "Jeseniova 1151/55, 130 00 Praha 3"
      required:
        - administrativeArea
        - ids
        - street
        - number
        - streetWithNumber
        - city
        - zip
        - geometry
        - full
    DataAdministrativeArea:
      type: object
      properties:
        country:
          type: string
          nullable: true
          description: "Company registration country code in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          example: CZ
        region:
          type: string
          nullable: true
          description: Company registration region.
          example: Hlavní město Praha
        district:
          type: string
          nullable: true
          description: Company registration discrict.
          example: Hlavní město Praha
        cityDistrict:
          type: string
          nullable: true
          description: City Disctrict.
          example: Praha 6
        cityDistrictSpecial:
          type: string
          nullable: true
          description: Company registration discrict special.
          example: Praha 6
        cityPart:
          type: string
          nullable: true
          description: Part of the City.
          example: Dejvice
        cityAdministrative:
          type: string
          nullable: true
          description: City Administrative area.
          example: Dejvice
        cadastralArea:
          type: string
          nullable: true
          description: City cadastral area.
          example: Dejvice
    LocationNumber:
      type: object
      properties:
        part1:
          type: string
          description: First part of house number.
          example: "137"
        part1Number:
          type: string
          description: First part of house number.
          example: "137"
        part1Letter:
          type: string
          nullable: true
          description: The first part of the house number that is text.
          example: null
        part2:
          type: string
          nullable: true
          description: Second part of house number.
          example: "16"
        part2Number:
          type: string
          nullable: true
          description: The second part of the house number that is numerical.
          example: "16"
        part2Letter:
          type: string
          nullable: true
          description: The second part of the house number that is text.
          example: null
        full:
          type: string
          nullable: true
          description: Full address number.
          example: "137/16"
      required:
        - part1
        - part2
        - full
    DataGeometry:
      type: object
      properties:
        gps:
          type: object
          description: TODO
          properties:
            lat:
              type: number
              description: Latitude coordinate.
              example: 50.087440865479
            lon:
              type: number
              description: Longitude coordinate.
              example: 14.463284033285
          required:
            - lat
            - lon
        custom:
          type: array
          description: TODO
          items:
            type: object
            description: TODO
            properties:
              type:
                type: string
                description: Type of coordinate system.
                example: Cartesian coordinate system.
              coordinates:
                type: object
                description: TODO
                properties:
                  x:
                    type: number
                    description: First coordinate.
                    example: 739831.1
                  "y":
                    type: number
                    description: Second coordinate.
                    example: 1043425.38
    LocationOficial:
      type: object
      properties:
        data:
          type: object
          description: TODO
          properties:
            administrativeArea:
              type: object
              description: TODO
              properties:
                country:
                  type: string
                  description: "Country of administrative area in format [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
                  example: CZ
            street:
              type: string
              description: Street.
              example: Jeseniova
            number:
              $ref: "#/components/schemas/LocationNumber"
            streetWithNumber:
              type: string
              description: Street with number.
              example: Jeseniova 1151/55
            city:
              type: string
              description: City.
              example: Praha
            zip:
              type: string
              description: ZIP code.
              example: "13000"
    GlobalRequest:
      type: object
      properties:
        endpoint:
          type: string
          description: Endpoint name.
        code:
          type: string
          description: Code of request.
          example: internalrequestcode
        customId:
          type: string
          nullable: true
          description: Custom ID assigned by you if you need so.
          example: customer567914
      required:
        - endpoint
        - code
        - customId
    EmailSearchResponse:
[...]
