openapi: 3.0.0
info:
  version: '2.0'
  title: Foxentry API reference
  description: |-
    # Welcome to the Foxentry API version 2.0
    Welcome to the new version of Foxentry API 2.0 Our API is designed to enhance your data management experience and provide you with even more powerful tools to harness the potential of getting and working with data.
    ## API usage
    The Foxentry API is used to <b>retrieve</b>, <b>validate</b>, and <b>modify</b> user data. Using our API, you can obtain detailed information, validate customer input, and automatically edit it into the appropriate formats. <br><br>
    The new version of our API also supports automatic corrections, offering you suggestions and corrections for your inputs so that you always get the right data.
    ## Features in version 2.0
    Foxentry now provides you with a wide variety of information by providing a comprehensive set of endpoints for numerous data categories. Whether you need information on a <b>Company</b>, an <b>Email</b> address, a <b>Location</b>, a <b>Name</b>, or a <b>Phone number</b>, Foxentry can help. We are pleased to offer our valued clients a total of 11 endpoints in this new version. <br><br>
    With the latest version of the Foxentry API, we have implemented advanced <b>Corrections</b> and <b>Suggestions</b>. This means that the data you receive will be more refined and precise, enabling you to make data-driven decisions with the utmost confidence. <br><br>
    The latest Foxentry API version includes <b>HTTP global errors</b> but also <b>local error messages</b>, recognizing the need for clear and useful error feedback. If a problem happens while using the API, you will be notified in descriptive error messages, providing a smoother integration process and quicker issue resolution. <br><br>
    To further enhance data quality, Foxentry has introduced <b>Fixes</b> in the new version of the API. This means that even if there are minor errors in the data you provide, the API will intelligently identify and correct them, reducing the risk of inaccuracies in your results.
    ## API call
    Each API call should be directed to a specific endpoint URL. Each API call to an endpoint can only contain one API request.
    ## Environment
    Production: https://api.foxentry.com/
    ## Supported countries
    <table class="center">
      <tr>
        <th>Endpoint</th>
        <th>Supported countries</th>
      </tr>
      <tr>
        <td>company/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr>
      <tr>
        <td>company/search</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr>
      <tr>
        <td>company/get</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>email/validate</td>
        <td>Worldwide</td>
      </tr> 
      <tr>
        <td>email/search</td>
        <td>Worldwide</td>
      </tr> 
      <tr>
        <td>location/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/search</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/get</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/localize</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>name/validate</td>
        <td>Czech Republic, Slovakia</td>
      </tr> 
      <tr>
        <td>phone/validate</td>
        <td>Worldwide</td>
      </tr>                                                                
    </table>

    ## Security
    As part of our commitment to data security, you are required to obtain a <b>Bearer token</b> from Foxentry. If you are a new user and do not have an API key, please fill out our registration form at https://foxentry.com/help-center/rest-api. 

    ## Need help? 
    Should you encounter any issues, have questions, or need assistance, please feel free to reach out to our dedicated support team at info@foxentry.cz. We are here to help you make the most of our API and resolve any questions you may have.
  contact:
    name: Foxentry
    email: info@foxentry.cz
    url: 'http://www.foxentry.com'
servers:
  - url: 'https://api.foxentry.com'
  - url: 'https://api.foxentry.com/v2.0'
paths:
  /company/validate:
    post:
      tags:
        - Company
      summary: Validate company data
      description: 'This endpoint requires at least 1 query parameter and will check if the parameters and their combinations are valid. Returns information about the company based on the datascope set in the options.<br><br> Foxentry validator is able not only to evaluate the validity of the inputed information but it also can fix various typos, errors and missing data. Foxentry can also suggest more suitable alternatives to the data sent in query. Please pay attention to the <b>result</b>, <b>resultCorrected</b> and <b>suggestions</b> in the response.<br><br> Always check <b>result.proposal</b> in the response for a proposed solution by Foxentry how you should process the response in your form or application.'
      operationId: ValidateCompanyData
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/ValidateCompanyData'
      responses:
        '200':
          $ref: '#/components/responses/ValidateCompanyData'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /company/search:
    post:
      tags:
        - Company
      summary: Search company
      description: This enpoint mainly serves as <b>autocomplete</b> but can be used to search for specific companies based on filter criteria as well. Foxentry will automatically offer you suggestions to complete the company you are writing down. <br><br>Pay attention to the <b>client</b> section in the request body. You can specify the user's location in order to receive more relevant suggestions.
      operationId: CompanySearch
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/CompanySearch'
      responses:
        '200':
          $ref: '#/components/responses/CompanySearch'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /company/get:
    post:
      tags:
        - Company
      summary: Get company data
      description: Foxentry allows you to get information about company based on the <b>dataScope</b> option. <b>Country</b> and <b>registrationNumber</b> parameters are required.
      operationId: GetCompanyData
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/GetCompanyData'
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyData'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /email/validate:
    post:
      tags:
        - Email
      summary: Validate email
      description: 'This endpoint will let you check if the e-mail address sent in query is valid.<br><br> Please pay attention to the <b>validationType</b> option since it has direct impact on the returned data. <b>Extended validation</b> (default) is the more advanced type that checks the real existence of the e-mail address and its deliverability. It also informs you about various flags such as <b>freemail and disposable mail</b> detection. <br><br> Foxentry validator is able not only to evaluate the validity of the inputed information but it also can fix various typos, errors and missing data. Foxentry can also suggest more suitable alternatives to the data sent in query. Please pay attention to the <b>result</b>, <b>resultCorrected</b> and <b>suggestions</b> in the response.<br><br> Always check <b>result.proposal</b> in the response for a proposed solution by Foxentry how you should process the response in your form or application.'
      operationId: ValidateEmail
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/ValidateEmail'
      responses:
        '200':
          $ref: '#/components/responses/ValidateEmail'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /email/search:
    post:
      tags:
        - Email
      summary: Search email
      description: Foxentry will automatically offer you suggestions to complete the e-mail address you are writing down. This mainly serves as <b>autocomplete</b>.<br><br> Pay attention to the <b>client</b> section in the request body. You can specify the user's location in order to receive more relevant suggestions.
      operationId: EmailSearch
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/EmailSearch'
      responses:
        '200':
          $ref: '#/components/responses/EmailSearch'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /location/validate:
    post:
      tags:
        - Location
      summary: Validate location data
      description: 'This endpoint requires at least 1 query parameter and will check if the parameters and their combinations are valid. Returns information about the location based on the datascope set in the options.<br><br> Foxentry validator is able not only to evaluate the validity of the inputed information but it also can fix various typos, errors and missing data. Foxentry can also suggest more suitable alternatives to the data sent in query. Please pay attention to the <b>result</b>, <b>resultCorrected</b> and <b>suggestions</b> in the response.<br><br> Always check <b>result.proposal</b> in the response for a proposed solution by Foxentry how you should process the response in your form or application.'
      operationId: LocationValidation
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/LocationValidation'
      responses:
        '200':
          $ref: '#/components/responses/LocationValidation'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /location/search:
    post:
      tags:
        - Location
      summary: Search location
      description: This enpoint mainly serves as <b>autocomplete</b> but can be used to search for specific addresses based on filter criteria as well. Foxentry will automatically offer you suggestions to complete the address you are writing down. <br><br>Pay attention to the <b>client</b> section in the request body. You can specify the user's location in order to receive more relevant suggestions.
      operationId: LocationSearch
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/LocationSearch'
      responses:
        '200':
          $ref: '#/components/responses/LocationSearch'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /location/get:
    post:
      tags:
        - Location
      summary: Get location data
      description: 'Foxentry allows you to get information about location based on the <b>dataScope</b> option. <b>Country</b> and <b>ID</b> parameters are required. You can either choose internal ID, which is assigned by Foxentry or external ID from the data source. <b>CZ external</b> = RUIAN, <b>PL external</b> = Gov data, <b>SK external does not exist</b>.'
      operationId: LocationGet
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/LocationGet'
      responses:
        '200':
          $ref: '#/components/responses/LocationGet'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /location/localize:
    post:
      tags:
        - Location
      summary: Localization
      description: 'Foxentry allows you to check an area with GPS radius in order to return all the addresses within that area. It can also give you additional information about the addresses based on the <b>dataScope</b> option.<br><br>Please pay attention to the <b>singleLocationResultDistance</b> option, which determines the radius of the search area in meters.<br><br>'
      operationId: LocationLocalization
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/LocationLocalization'
      responses:
        '200':
          $ref: '#/components/responses/LocationLocalization'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /name/validate:
    post:
      tags:
        - Name
      summary: Validate name data
      description: "Foxentry allows you to check the validity and real existence of names and their combinations. At least one parameter is required in the query. You can either write down the name separately or use <b>nameSurname</b> as connected parameter. <br><br>Pay attention to the query options. Especially <b>validationDepth</b>, which determines how strict the validation should be based on your use case. For example you''d want minimal validationDepth for web forms since you usually don''t want to disturb the user too much with error messages and suggestions.   <br><br> Foxentry validator is able not only to evaluate the validity of the inputed information but it also can fix various typos, errors and missing data. Foxentry can also suggest more suitable alternatives to the data sent in query. Please pay attention to the <b>result</b>, <b>resultCorrected</b> and <b>suggestions</b> in the response.<br><br> Always check <b>result.proposal</b> in the response for a proposed solution by Foxentry how you should process the response in your form or application."
      operationId: NameValidation
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/NameValidation'
      responses:
        '200':
          $ref: '#/components/responses/NameValidation'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
  /phone/validate:
    post:
      tags:
        - Phone
      summary: Validate phone number
      description: 'Foxentry allows you to check validity and the existence of phone numbers. It can also give you additional information about the validated phone number based on the <b>validationType</b> option.<br><br>Please pay attention to the <b>formatNumber</b> option. This option defines the format of number that should be considered as valid. <br><br>Foxentry validator is able not only to evaluate the validity of the inputed information but it also can fix various typos, errors and missing data. Foxentry can also suggest more suitable alternatives to the data sent in query. Please pay attention to the <b>result</b>, <b>resultCorrected</b> and <b>suggestions</b> in the response.<br><br> Always check <b>result.proposal</b> in the response for a proposed solution by Foxentry how you should process the response in your form or application.'
      operationId: ValidatePhoneNumber
      parameters:
        - name: foxentry-include-request-details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
            default: false
            example: false
        - name: api-version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: '2.0'
            example: '2.0'
          examples:
            default:
              value: '2.0'
      requestBody:
        $ref: '#/components/requestBodies/ValidatePhoneNumber'
      responses:
        '200':
          $ref: '#/components/responses/ValidatePhoneNumber'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '405':
          $ref: '#/components/responses/Error405'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '503':
          $ref: '#/components/responses/Error503'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://api.foxentry.com'
        - url: 'https://api.foxentry.com/v2.0'
tags:
  - name: Company
    description: Company operations
  - name: Email
    description: Email operations
  - name: Location
    description: Location operations
  - name: Name
    description: Names operations
  - name: Phone
    description: Phone operations

components:
  headers:
    Foxentry-Api-Version:
      schema:
        type: string
        example: '2.0'
      description: The version of the Foxentry API
    Foxentry-Daily-Credits-Left:
      schema:
        type: number
        example: 9881.64
      description: The amount of daily credits left
    Foxentry-Daily-Credits-Limit:
      schema:
        type: number
        example: 10000
      description: The daily credits limit
    Foxentry-Rate-Limit:
      schema:
        type: integer
        example: 5000
      description: The rate limit
    Foxentry-Rate-Limit-Period:
      schema:
        type: integer
        example: 900
      description: The rate limit period
    Foxentry-Rate-Limit-Remaining:
      schema:
        type: integer
        example: 4999
      description: The remaining rate limit

  requestBodies:
    LocationSearch:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/LocationSearchRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  customId: customer567914
                  query:
                    type: streetWithNumber
                    value: thamo
                    filter:
                      country: CZ
                  options:
                    dataScope: basic
                    resultsLimit: 10
                    filterMode: prefer
                    filterAcceptFormat: true
                    filterAcceptAlternatives: true
                    filterExactMatch: true
                  client:
                    ip: 127.0.1.1
                    country: CZ
                    location:
                      lat: 50.0628
                      lon: 13.9271
    LocationLocalization:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/LocationLocalizationRequest'
            required:
              - request
    LocationGet:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/LocationGetRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  query:
                    country: CZ
                    id: d2ade877-1e95-4a83-baa6-5431ce5b3ca8
                  options:
                    idType: internal
                    dataScope: full
    LocationValidation:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/LocationValidationRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  query:
                    streetWithNumber: Jeseniova 55
                    city: Praha
                    zip: '13000'
                    country: CZ
                  options:
                    dataScope: full
                    resultsLimit: 10
                    acceptPostOfficeAsCity: true
                  client:
                    country: CZ
                    location:
                      lat: 50.0628
                      lon: 13.9271
    ValidateEmail:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/ValidateEmailRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  query:
                    email: p.novak@gamil.com
                  options:
                    validationType: extended
                    acceptDisposableEmails: true
                    acceptFreemails: true
                  client:
                    country: CZ
                    location:
                      lat: 50.0628
                      lon: 13.9271
    ValidatePhoneNumber:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/ValidatePhoneNumberRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  query:
                    numberWithPrefix: '+420775111222'
                  options:
                    validationType: extended
                    allowedPrefixes:
                      - '+420'
                      - '+421'
                    defaultPrefix: '+420'
                    formatNumber: false
                  client:
                    country: CZ
                    location:
                      lat: 50.0628
                      lon: 13.9271
    NameValidation:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/NameValidationRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  query:
                    name: test
                    surname: Ing. Petr Novák ml.
                  options:
                    dataScope: full
                    acceptDegrees: true
                    acceptContext: false
                    validationDepth: strict
                    smartMode: true
                  client:
                    country: CZ
                    location:
                      lat: 50.0628
                      lon: 13.9271
    ValidateCompanyData:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/ValidateCompanyDataRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  query:
                    name: AVANTRO
                    country: CZ
                    registrationNumber: '04997476'
                  options:
                    dataScope: basic
                    resultsLimit: 10
                    includeTerminatedSubjects: false
                    cityFormat: basic
                    zipFormat: false
                  client:
                    country: CZ
                    location:
                      lat: 50.0628
                      lon: 13.9271
    CompanySearch:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/CompanySearchRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  query:
                    type: name
                    value: ava
                    filter:
                      country: CZ
                  options:
                    dataScope: basic
                    resultsLimit: 10
                    includeTerminatedSubjects: false
                    filterMode: limit
                    filterAcceptFormat: true
                    filterExactMatch: true
                    cityFormat: basic
                    zipFormat: false
                  client:
                    country: CZ
                    location:
                      lat: 50.0628
                      lon: 13.9271
    EmailSearch:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/EmailSearchRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  query:
                    value: p.novak@
                  options:
                    resultsLimit: 5
                  client:
                    country: CZ
                    location:
                      lat: 50.0628
                      lon: 13.9271
    GetCompanyData:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: '#/components/schemas/GetCompanyDataRequest'
            required:
              - request
          examples:
            Request Example:
              value:
                request:
                  query:
                    country: CZ
                    registrationNumber: '04997476'
                  options:
                    dataScope: full
                    includeTerminatedSubjects: false
                    cityFormat: basic
                    zipFormat: false
                  client:
                    country: CZ
                    location:
                      lat: 50.0628
                      lon: 13.9271
  securitySchemes:
    BearerAuth:
      type: http
      description: Bearer token formatted API key. You can obtain the API key after the sign up at app.foxentry.com/registration.
      scheme: bearer
  responses:
    GetCompanyData:
      description: Successful response
      headers:
        foxentry-api-version:
          $ref: '#/components/headers/Foxentry-Api-Version'
        foxentry-daily-credits-left:
          $ref: '#/components/headers/Foxentry-Daily-Credits-Left'
        foxentry-daily-credits-limit:
          $ref: '#/components/headers/Foxentry-Daily-Credits-Limit'
        foxentry-rate-limit:
          $ref: '#/components/headers/Foxentry-Rate-Limit'
        foxentry-rate-limit-period:
          $ref: '#/components/headers/Foxentry-Rate-Limit-Period'
        foxentry-rate-limit-remaining:
          $ref: '#/components/headers/Foxentry-Rate-Limit-Remaining'
      content:
        application/json:
          examples:
            basicDataScope:
              value:
                status: 200
                request:
                  endpoint: company/get
                  code: CqwujP8cwdzIbAhWkjqGzREE76z1GD
                response:
                  results:
                    - data:
                        country: CZ
                        name: AVANTRO s.r.o.
                        registrationNumber: '04997476'
                        taxNumber: null
                        vatNumber: CZ04997476
                        vatNumberSpecial: null
                        address:
                          data:
                            country: CZ
                            ids:
                              internal: '2070391'
                              external: '22349995'
                            street: Thámova
                            number:
                              part1: '137'
                              part1Number: '137'
                              part1Letter: null
                              part2: '16'
                              part2Number: '16'
                              part2Letter: null
                              full: 137/16
                            streetWithNumber: Thámova 137/16
                            city: Praha 8 - Karlín
                            zip: '18600'
                            full: 'Thámova 137/16, 18600 Praha 8 - Karlín'
                        addressOfficial:
                          data:
                            country: null
                            street: Thámova
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 137/16
                            streetWithNumber: Thámova 137/16
                            city: Praha
                            zip: '18600'
                            full: null
                errors: []
            extendedDataScope:
              value:
                status: 200
                request:
                  endpoint: company/get
                  code: 2XMcjyzRGzg7RLfjw9mQnqQogIyC7I
                response:
                  results:
                    - data:
                        country: CZ
                        name: AVANTRO s.r.o.
                        registrationNumber: '04997476'
                        taxNumber: null
                        vatNumber: CZ04997476
                        vatNumberSpecial: null
                        address:
                          data:
                            country: CZ
                            ids:
                              internal: '2070391'
                              external: '22349995'
                            street: Thámova
                            number:
                              part1: '137'
                              part1Number: '137'
                              part1Letter: null
                              part2: '16'
                              part2Number: '16'
                              part2Letter: null
                              full: 137/16
                            streetWithNumber: Thámova 137/16
                            city: Praha 8 - Karlín
                            zip: '18600'
                            full: 'Thámova 137/16, 18600 Praha 8 - Karlín'
                        addressOfficial:
                          data:
                            country: null
                            street: Thámova
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 137/16
                            streetWithNumber: Thámova 137/16
                            city: Praha
                            zip: '18600'
                            full: null
                        nace:
                          - code: '74'
                            name: 'Ostatní profesní, vědecké a technické činnosti'
                            isPrimary: null
                          - code: '6820'
                            name: Pronájem a správa vlastních nebo pronajatých nemovitostí
                            isPrimary: null
                          - code: '00'
                            name: 'Výroba, obchod a služby neuvedené v přílohách 1 až 3 živnostenského zákona'
                            isPrimary: null
                        registrations:
                          - type: businessRegister
                            data:
                              register:
                                code: null
                                name: null
                                detail: null
                              registrator:
                                code: null
                                name: Městský soud v Praze
                                detail: null
                              reference: C 256795
                          - type: vatRegister
                            data:
                              register:
                                code: null
                                name: null
                                detail: null
                              registrator:
                                code: null
                                name: Finanční úřad pro hlavní město Prahu
                                detail: 'Územní pracoviště pro Prahu 8, Trojská 13a, PRAHA 8, tel.: 266 013 111'
                              reference: null
                        legalForm:
                          code: 112
                          name: Společnost s ručením omezeným
                        legalFormSpecific:
                          code: null
                          name: null
                        esa2010:
                          code: 11002
                          name: Nefinanční podniky soukromé národní
                        dates:
                          created: '2016-04-15'
                          terminated: null
                        tradeLicences:
                          - type: Ohlašovací volná
                            name: "Výroba, obchod a\_služby neuvedené v\_přílohách 1 až 3 živnostenského zákona"
                            valid:
                              from: '2016-04-15'
                              fromText: null
                              to: null
                              toText: null
                            interrupted:
                              from: null
                              to: null
                            responsiblePerson: null
                            activitySubjects:
                              - "Poskytování služeb pro zemědělství, zahradnictví, rybníkářství, lesnictví a\_myslivost"
                              - "Činnost odborného lesního hospodáře a\_vyhotovování lesních hospodářských plánů a\_osnov"
                              - "Diagnostická, zkušební a\_poradenská činnost v\_ochraně rostlin a\_ošetřování rostlin, rostlinných produktů, objektů a\_půdy proti škodlivým organismům přípravky na ochranu rostlin nebo biocidními přípravky"
                              - "Nakládání s\_reprodukčním materiálem lesních dřevin"
                              - "Chov zvířat a\_jejich výcvik (s výjimkou živočišné výroby)"
                              - "Úprava nerostů, dobývání rašeliny a\_bahna"
                              - "Výroba potravinářských a\_škrobárenských výrobků"
                              - Pěstitelské pálení
                              - "Výroba krmiv, krmných směsí, doplňkových látek a\_premixů"
                              - "Výroba textilií, textilních výrobků, oděvů a\_oděvních doplňků"
                              - "Výroba a\_opravy obuvi, brašnářského a\_sedlářského zboží"
                              - "Zpracování dřeva, výroba dřevěných, korkových, proutěných a\_slaměných výrobků"
                              - "Výroba vlákniny, papíru a\_lepenky a\_zboží z\_těchto materiálů"
                              - "Vydavatelské činnosti, polygrafická výroba, knihařské a\_kopírovací práce"
                              - "Výroba, rozmnožování, distribuce, prodej, pronájem zvukových a\_zvukově-obrazových záznamů a\_výroba nenahraných nosičů údajů a\_záznamů"
                              - "Výroba koksu, surového dehtu a\_jiných pevných paliv"
                              - "Výroba chemických látek a\_chemických směsí nebo předmětů a\_kosmetických přípravků"
                              - Výroba hnojiv
                              - "Výroba plastových a\_pryžových výrobků"
                              - "Výroba a\_zpracování skla"
                              - "Výroba stavebních hmot, porcelánových, keramických a\_sádrových výrobků"
                              - "Výroba brusiv a\_ostatních minerálních nekovových výrobků"
                              - "Broušení technického a\_šperkového kamene"
                              - "Výroba a\_hutní zpracování železa, drahých a\_neželezných kovů a\_jejich slitin"
                              - "Výroba kovových konstrukcí a\_kovodělných výrobků"
                              - Umělecko-řemeslné zpracování kovů
                              - "Povrchové úpravy a\_svařování kovů a\_dalších materiálů"
                              - "Výroba měřicích, zkušebních, navigačních, optických a\_fotografických přístrojů a\_zařízení"
                              - "Výroba elektronických součástek, elektrických zařízení a\_výroba a\_opravy elektrických strojů, přístrojů a\_elektronických zařízení pracujících na malém napětí"
                              - Výroba neelektrických zařízení pro domácnost
                              - "Výroba strojů a\_zařízení"
                              - "Výroba motorových a\_přípojných vozidel a\_karoserií"
                              - "Stavba a\_výroba plavidel"
                              - "Výroba, vývoj, projektování, zkoušky, instalace, údržba, opravy, modifikace a\_konstrukční změny letadel, motorů letadel, vrtulí, letadlových částí a\_zařízení a\_leteckých  pozemních zařízení"
                              - "Výroba drážních hnacích vozidel a\_drážních vozidel na dráze tramvajové, trolejbusové a\_lanové a\_železničního parku"
                              - "Výroba jízdních kol, vozíků pro invalidy a\_jiných nemotorových dopravních prostředků"
                              - "Výroba a\_opravy čalounických výrobků"
                              - "Výroba, opravy a\_údržba sportovních potřeb, her, hraček a\_dětských kočárků"
                              - Výroba zdravotnických prostředků
                              - "Výroba a\_opravy zdrojů ionizujícího záření"
                              - "Výroba školních a\_kancelářských potřeb, kromě výrobků z\_papíru, výroba bižuterie, kartáčnického a\_konfekčního zboží, deštníků, upomínkových předmětů"
                              - Výroba dalších výrobků zpracovatelského průmyslu
                              - "Provozování vodovodů a\_kanalizací a\_úprava a\_rozvod vody"
                              - "Nakládání s\_odpady (vyjma nebezpečných)"
                              - "Přípravné a\_dokončovací stavební práce, specializované stavební činnosti"
                              - "Sklenářské práce, rámování a\_paspartování"
                              - "Zprostředkování obchodu a\_služeb"
                              - "Velkoobchod a\_maloobchod"
                              - "Zastavárenská činnost a\_maloobchod s\_použitým zbožím"
                              - "Údržba motorových vozidel a\_jejich příslušenství"
                              - "Potrubní a\_pozemní doprava (vyjma železniční a\_silniční motorové dopravy)"
                              - "Skladování, balení zboží, manipulace s\_nákladem a\_technické činnosti v\_dopravě"
                              - "Zasilatelství a\_zastupování v\_celním řízení"
                              - Ubytovací služby
                              - "Poskytování software, poradenství v\_oblasti informačních technologií, zpracování dat, hostingové a\_související činnosti a\_webové portály"
                              - "Činnost informačních a\_zpravodajských kanceláří"
                              - "Nákup, prodej, správa a\_údržba nemovitostí"
                              - "Pronájem a\_půjčování věcí movitých"
                              - "Poradenská a\_konzultační činnost, zpracování odborných studií a\_posudků"
                              - Projektování pozemkových úprav
                              - "Příprava a\_vypracování technických návrhů, grafické a\_kresličské práce"
                              - Projektování elektrických zařízení
                              - "Výzkum a\_vývoj v\_oblasti přírodních a\_technických věd nebo společenských věd"
                              - "Testování, měření, analýzy a\_kontroly"
                              - 'Reklamní činnost, marketing, mediální zastoupení'
                              - "Návrhářská, designérská, aranžérská činnost a\_modeling"
                              - Fotografické služby
                              - "Překladatelská a\_tlumočnická činnost"
                              - "Služby v\_oblasti administrativní správy a\_služby organizačně hospodářské povahy"
                              - "Provozování cestovní agentury a\_průvodcovská činnost v\_oblasti cestovního ruchu"
                              - "Mimoškolní výchova a\_vzdělávání, pořádání kurzů, školení, včetně lektorské činnosti"
                              - "Provozování kulturních, kulturně-vzdělávacích a\_zábavních zařízení, pořádání kulturních produkcí, zábav, výstav, veletrhů, přehlídek, prodejních a\_obdobných akcí"
                              - "Provozování tělovýchovných a\_sportovních zařízení a\_organizování sportovní činnosti"
                              - "Praní pro domácnost, žehlení, opravy a\_údržba oděvů, bytového textilu a\_osobního zboží"
                              - Poskytování technických služeb
                              - "Opravy a\_údržba potřeb pro domácnost, předmětů kulturní povahy, výrobků jemné mechaniky, optických přístrojů a\_měřidel"
                              - "Poskytování služeb osobního charakteru a\_pro osobní hygienu"
                              - "Poskytování služeb pro rodinu a\_domácnost"
                              - "Výroba, obchod a\_služby jinde nezařazené"
                        vat:
                          status: payer
                          reliability:
                            reliable: true
                            unreliableFrom: null
                          bankAccounts:
                            - number: 55567899/2010
                            - number: CZ8920100000002301370338
                            - number: CZ1420100000002801976854
                            - number: CZ6620100000002902049945
                          history: []
                errors: []
            fullDataScope:
              value:
                status: 200
                request:
                  endpoint: company/get
                  code: CBsyvVRh3XP7h77Mjw3FnKvsKqTiNg
                response:
                  results:
                    - data:
                        country: CZ
                        name: AVANTRO s.r.o.
                        registrationNumber: '04997476'
                        taxNumber: null
                        vatNumber: CZ04997476
                        vatNumberSpecial: null
                        address:
                          data:
                            country: CZ
                            region: Hlavní město Praha
                            district: území Hlavního města Prahy
                            cityDistrictSpecial: Praha 8
                            cityDistrict: Praha 8
                            cityPart: Karlín
                            cityAdministrative: null
                            cadastralArea: Karlín
                            ids:
                              internal: '2070391'
                              external: '22349995'
                              region: '19'
                              district: '9999'
                              cityDistrictSpecial: '86'
                              cityDistrict: '500208'
                              cityPart: '400637'
                              cadastralArea: '730955'
                              city: '554782'
                              street: '472093'
                            street: Thámova
                            number:
                              part1: '137'
                              part1Number: '137'
                              part1Letter: null
                              part2: '16'
                              part2Number: '16'
                              part2Letter: null
                              full: 137/16
                            streetWithNumber: Thámova 137/16
                            city: Praha 8 - Karlín
                            zip: '18600'
                            geometry:
                              gps:
                                lat: 50.092000490337
                                lon: 14.452736264264
                              custom:
                                - type: JTSK
                                  coordinates:
                                    x: 1042819.66
                                    'y': 740509.43
                            postOffice:
                              name: Praha 86
                            full: 'Thámova 137/16, 18600 Praha 8 - Karlín'
                        addressOfficial:
                          data:
                            country: null
                            street: Thámova
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 137/16
                            streetWithNumber: Thámova 137/16
                            city: Praha
                            zip: '18600'
                            full: null
                        nace:
                          - code: '74'
                            name: 'Ostatní profesní, vědecké a technické činnosti'
                            isPrimary: null
                          - code: '6820'
                            name: Pronájem a správa vlastních nebo pronajatých nemovitostí
                            isPrimary: null
                          - code: '00'
                            name: 'Výroba, obchod a služby neuvedené v přílohách 1 až 3 živnostenského zákona'
                            isPrimary: null
                        databoxes:
                          - code: txutpba
                            name: AVANTRO s.r.o.
                            receivingMessages: true
                        registrations:
                          - type: businessRegister
                            data:
                              register:
                                code: null
                                name: null
                                detail: null
                              registrator:
                                code: null
                                name: Městský soud v Praze
                                detail: null
                              reference: C 256795
                          - type: vatRegister
                            data:
                              register:
                                code: null
                                name: null
                                detail: null
                              registrator:
                                code: null
                                name: Finanční úřad pro hlavní město Prahu
                                detail: 'Územní pracoviště pro Prahu 8, Trojská 13a, PRAHA 8, tel.: 266 013 111'
                              reference: null
                        legalForm:
                          code: 112
                          name: Společnost s ručením omezeným
                        legalFormSpecific:
                          code: null
                          name: null
                        esa2010:
                          code: 11002
                          name: Nefinanční podniky soukromé národní
                        dates:
                          created: '2016-04-15'
                          terminated: null
                        employees:
                          category: 1-5
                          count: null
                        insolvency: {}
                        businessPremises: []
                        authority:
                          - name: Statutární orgán
                            members:
                              - name: Pavel Hrdlička
                                address:
                                  data:
                                    country: CZ
                                    region: Olomoucký kraj
                                    district: Přerov
                                    cityDistrictSpecial: null
                                    cityDistrict: null
                                    cityPart: Radslavice
                                    cityAdministrative: null
                                    cadastralArea: Radslavice u Přerova
                                    ids:
                                      internal: '1048373'
                                      external: '11148616'
                                      region: '124'
                                      district: '3808'
                                      cityDistrictSpecial: null
                                      cityDistrict: null
                                      cityPart: '138819'
                                      cadastralArea: '738816'
                                      city: '517534'
                                      street: '524549'
                                    street: V Zahradách
                                    number:
                                      part1: '277'
                                      part1Number: '277'
                                      part1Letter: null
                                      part2: null
                                      part2Number: null
                                      part2Letter: null
                                      full: '277'
                                    streetWithNumber: V Zahradách 277
                                    city: Radslavice
                                    zip: '75111'
                                    geometry:
                                      gps:
                                        lat: 49.478117480843
                                        lon: 17.510483069891
                                      custom:
                                        - type: JTSK
                                          coordinates:
                                            x: 1136105.4
                                            'y': 529721.06
                                    postOffice:
                                      name: Radslavice
                                    full: 'V Zahradách 277, 75111 Radslavice'
                                addressOfficial:
                                  data:
                                    country: null
                                    street: V Zahradách
                                    number:
                                      part1: null
                                      part1Number: null
                                      part1Letter: null
                                      part2: null
                                      part2Number: null
                                      part2Letter: null
                                      full: '277'
                                    streetWithNumber: V Zahradách 277
                                    city: Radslavice
                                    zip: '75111'
                                    full: null
                                function: jednatel
                                birthDate: null
                                registrationNumber: null
                            decisions:
                              - Společnost zastupuje jednatel samostatně.
                          - name: Společníci
                            members:
                              - name: Pavel Hrdlička
                                address:
                                  data:
                                    country: CZ
                                    region: Olomoucký kraj
                                    district: Přerov
                                    cityDistrictSpecial: null
                                    cityDistrict: null
                                    cityPart: Radslavice
                                    cityAdministrative: null
                                    cadastralArea: Radslavice u Přerova
                                    ids:
                                      internal: '1048373'
                                      external: '11148616'
                                      region: '124'
                                      district: '3808'
                                      cityDistrictSpecial: null
                                      cityDistrict: null
                                      cityPart: '138819'
                                      cadastralArea: '738816'
                                      city: '517534'
                                      street: '524549'
                                    street: V Zahradách
                                    number:
                                      part1: '277'
                                      part1Number: '277'
                                      part1Letter: null
                                      part2: null
                                      part2Number: null
                                      part2Letter: null
                                      full: '277'
                                    streetWithNumber: V Zahradách 277
                                    city: Radslavice
                                    zip: '75111'
                                    geometry:
                                      gps:
                                        lat: 49.478117480843
                                        lon: 17.510483069891
                                      custom:
                                        - type: JTSK
                                          coordinates:
                                            x: 1136105.4
                                            'y': 529721.06
                                    postOffice:
                                      name: Radslavice
                                    full: 'V Zahradách 277, 75111 Radslavice'
                                addressOfficial:
                                  data:
                                    country: null
                                    street: V Zahradách
                                    number:
                                      part1: null
                                      part1Number: null
                                      part1Letter: null
                                      part2: null
                                      part2Number: null
                                      part2Letter: null
                                      full: '277'
                                    streetWithNumber: V Zahradách 277
                                    city: Radslavice
                                    zip: '75111'
                                    full: null
                                function: null
                                birthDate: null
                                registrationNumber: null
                            decisions: []
                        capital:
                          value:
                            amount: '200000'
                            currency: CZK
                          shareholders:
                            - shareholder: 'PAVEL HRDLIČKA , dat. nar. 14. listopadu 1990 V Zahradách 277, 751 11 Radslavice'
                              share:
                                amount: '200000'
                                currency: czk
                                percent: '100'
                                percentPaid: '100'
                              info: []
                          stocks: []
                        tradeLicences:
                          - type: Ohlašovací volná
                            name: "Výroba, obchod a\_služby neuvedené v\_přílohách 1 až 3 živnostenského zákona"
                            valid:
                              from: '2016-04-15'
                              fromText: null
                              to: null
                              toText: null
                            interrupted:
                              from: null
                              to: null
                            responsiblePerson: null
                            activitySubjects:
                              - "Poskytování služeb pro zemědělství, zahradnictví, rybníkářství, lesnictví a\_myslivost"
                              - "Činnost odborného lesního hospodáře a\_vyhotovování lesních hospodářských plánů a\_osnov"
                              - "Diagnostická, zkušební a\_poradenská činnost v\_ochraně rostlin a\_ošetřování rostlin, rostlinných produktů, objektů a\_půdy proti škodlivým organismům přípravky na ochranu rostlin nebo biocidními přípravky"
                              - "Nakládání s\_reprodukčním materiálem lesních dřevin"
                              - "Chov zvířat a\_jejich výcvik (s výjimkou živočišné výroby)"
                              - "Úprava nerostů, dobývání rašeliny a\_bahna"
                              - "Výroba potravinářských a\_škrobárenských výrobků"
                              - Pěstitelské pálení
                              - "Výroba krmiv, krmných směsí, doplňkových látek a\_premixů"
                              - "Výroba textilií, textilních výrobků, oděvů a\_oděvních doplňků"
                              - "Výroba a\_opravy obuvi, brašnářského a\_sedlářského zboží"
                              - "Zpracování dřeva, výroba dřevěných, korkových, proutěných a\_slaměných výrobků"
                              - "Výroba vlákniny, papíru a\_lepenky a\_zboží z\_těchto materiálů"
                              - "Vydavatelské činnosti, polygrafická výroba, knihařské a\_kopírovací práce"
                              - "Výroba, rozmnožování, distribuce, prodej, pronájem zvukových a\_zvukově-obrazových záznamů a\_výroba nenahraných nosičů údajů a\_záznamů"
                              - "Výroba koksu, surového dehtu a\_jiných pevných paliv"
                              - "Výroba chemických látek a\_chemických směsí nebo předmětů a\_kosmetických přípravků"
                              - Výroba hnojiv
                              - "Výroba plastových a\_pryžových výrobků"
                              - "Výroba a\_zpracování skla"
                              - "Výroba stavebních hmot, porcelánových, keramických a\_sádrových výrobků"
                              - "Výroba brusiv a\_ostatních minerálních nekovových výrobků"
                              - "Broušení technického a\_šperkového kamene"
                              - "Výroba a\_hutní zpracování železa, drahých a\_neželezných kovů a\_jejich slitin"
                              - "Výroba kovových konstrukcí a\_kovodělných výrobků"
                              - Umělecko-řemeslné zpracování kovů
                              - "Povrchové úpravy a\_svařování kovů a\_dalších materiálů"
                              - "Výroba měřicích, zkušebních, navigačních, optických a\_fotografických přístrojů a\_zařízení"
                              - "Výroba elektronických součástek, elektrických zařízení a\_výroba a\_opravy elektrických strojů, přístrojů a\_elektronických zařízení pracujících na malém napětí"
                              - Výroba neelektrických zařízení pro domácnost
                              - "Výroba strojů a\_zařízení"
                              - "Výroba motorových a\_přípojných vozidel a\_karoserií"
                              - "Stavba a\_výroba plavidel"
                              - "Výroba, vývoj, projektování, zkoušky, instalace, údržba, opravy, modifikace a\_konstrukční změny letadel, motorů letadel, vrtulí, letadlových částí a\_zařízení a\_leteckých  pozemních zařízení"
                              - "Výroba drážních hnacích vozidel a\_drážních vozidel na dráze tramvajové, trolejbusové a\_lanové a\_železničního parku"
                              - "Výroba jízdních kol, vozíků pro invalidy a\_jiných nemotorových dopravních prostředků"
                              - "Výroba a\_opravy čalounických výrobků"
                              - "Výroba, opravy a\_údržba sportovních potřeb, her, hraček a\_dětských kočárků"
                              - Výroba zdravotnických prostředků
                              - "Výroba a\_opravy zdrojů ionizujícího záření"
                              - "Výroba školních a\_kancelářských potřeb, kromě výrobků z\_papíru, výroba bižuterie, kartáčnického a\_konfekčního zboží, deštníků, upomínkových předmětů"
                              - Výroba dalších výrobků zpracovatelského průmyslu
                              - "Provozování vodovodů a\_kanalizací a\_úprava a\_rozvod vody"
                              - "Nakládání s\_odpady (vyjma nebezpečných)"
                              - "Přípravné a\_dokončovací stavební práce, specializované stavební činnosti"
                              - "Sklenářské práce, rámování a\_paspartování"
                              - "Zprostředkování obchodu a\_služeb"
                              - "Velkoobchod a\_maloobchod"
                              - "Zastavárenská činnost a\_maloobchod s\_použitým zbožím"
                              - "Údržba motorových vozidel a\_jejich příslušenství"
                              - "Potrubní a\_pozemní doprava (vyjma železniční a\_silniční motorové dopravy)"
                              - "Skladování, balení zboží, manipulace s\_nákladem a\_technické činnosti v\_dopravě"
                              - "Zasilatelství a\_zastupování v\_celním řízení"
                              - Ubytovací služby
                              - "Poskytování software, poradenství v\_oblasti informačních technologií, zpracování dat, hostingové a\_související činnosti a\_webové portály"
                              - "Činnost informačních a\_zpravodajských kanceláří"
                              - "Nákup, prodej, správa a\_údržba nemovitostí"
                              - "Pronájem a\_půjčování věcí movitých"
                              - "Poradenská a\_konzultační činnost, zpracování odborných studií a\_posudků"
                              - Projektování pozemkových úprav
                              - "Příprava a\_vypracování technických návrhů, grafické a\_kresličské práce"
                              - Projektování elektrických zařízení
                              - "Výzkum a\_vývoj v\_oblasti přírodních a\_technických věd nebo společenských věd"
                              - "Testování, měření, analýzy a\_kontroly"
                              - 'Reklamní činnost, marketing, mediální zastoupení'
                              - "Návrhářská, designérská, aranžérská činnost a\_modeling"
                              - Fotografické služby
                              - "Překladatelská a\_tlumočnická činnost"
                              - "Služby v\_oblasti administrativní správy a\_služby organizačně hospodářské povahy"
                              - "Provozování cestovní agentury a\_průvodcovská činnost v\_oblasti cestovního ruchu"
                              - "Mimoškolní výchova a\_vzdělávání, pořádání kurzů, školení, včetně lektorské činnosti"
                              - "Provozování kulturních, kulturně-vzdělávacích a\_zábavních zařízení, pořádání kulturních produkcí, zábav, výstav, veletrhů, přehlídek, prodejních a\_obdobných akcí"
                              - "Provozování tělovýchovných a\_sportovních zařízení a\_organizování sportovní činnosti"
                              - "Praní pro domácnost, žehlení, opravy a\_údržba oděvů, bytového textilu a\_osobního zboží"
                              - Poskytování technických služeb
                              - "Opravy a\_údržba potřeb pro domácnost, předmětů kulturní povahy, výrobků jemné mechaniky, optických přístrojů a\_měřidel"
                              - "Poskytování služeb osobního charakteru a\_pro osobní hygienu"
                              - "Poskytování služeb pro rodinu a\_domácnost"
                              - "Výroba, obchod a\_služby jinde nezařazené"
                        vat:
                          status: payer
                          reliability:
                            reliable: true
                            unreliableFrom: null
                          bankAccounts:
                            - number: 55567899/2010
                            - number: CZ8920100000002301370338
                            - number: CZ1420100000002801976854
                            - number: CZ6620100000002902049945
                          history:
                            - vatNumber: CZ04997476
                              registrationType: payer
                              validFrom: '2017-09-01'
                              validTo: null
                              isGroupRegistration: false
                errors: []
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Status of API response.
                example: 200
              request:
                $ref: '#/components/schemas/GetCompanyDataResponseRequest'
              response:
                $ref: '#/components/schemas/GetCompanyDataResults'
              errors:
                description: List of errors related to the request. Should be empty if the request finished successfully.
                type: array
                items: {}
                maxItems: 0
            required:
              - status
              - request
              - response
    EmailSearch:
      description: Successful response
      headers:
        foxentry-api-version:
          $ref: '#/components/headers/Foxentry-Api-Version'
        foxentry-daily-credits-left:
          $ref: '#/components/headers/Foxentry-Daily-Credits-Left'
        foxentry-daily-credits-limit:
          $ref: '#/components/headers/Foxentry-Daily-Credits-Limit'
        foxentry-rate-limit:
          $ref: '#/components/headers/Foxentry-Rate-Limit'
        foxentry-rate-limit-period:
          $ref: '#/components/headers/Foxentry-Rate-Limit-Period'
        foxentry-rate-limit-remaining:
          $ref: '#/components/headers/Foxentry-Rate-Limit-Remaining'
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Status of API response.
                example: 200
              request:
                allOf:
                  - $ref: '#/components/schemas/GlobalRequest'
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: email/search
                      query:
                        type: object
                        properties:
                          value:
                            type: string
                            example: info@foxentry.com
                        required:
                          - email
                      options:
                        type: object
                        description: Query options.
                        properties:
                          resultsLimit:
                            type: number
                            description: Number of results
                            minimum: 1
                            maximum: 5
                            example: 5
                      client:
                        $ref: '#/components/schemas/ClientRequest'
              response:
                $ref: '#/components/schemas/EmailSearchResponse'
              errors:
                description: List of errors related to the request. Should be empty if the request finished successfully.
                type: array
                items: {}
                maxItems: 0
            required:
              - status
              - request
          examples:
            searchResults:
              value:
                status: 200
                request:
                  endpoint: email/search
                  code: 9aI4lDnCPd72BYZeRuX8wMxX4wtqyO
                response:
                  resultsCount: 5
                  results:
                    - data:
                        email: info@seznam.cz
                        domain: seznam.cz
                    - data:
                        email: info@gmail.com
                        domain: gmail.com
                    - data:
                        email: info@email.cz
                        domain: email.cz
                    - data:
                        email: info@centrum.cz
                        domain: centrum.cz
                    - data:
                        email: info@azet.sk
                        domain: azet.sk
                errors: []
    CompanySearch:
      description: Successful response
      headers:
        foxentry-api-version:
          $ref: '#/components/headers/Foxentry-Api-Version'
        foxentry-daily-credits-left:
          $ref: '#/components/headers/Foxentry-Daily-Credits-Left'
        foxentry-daily-credits-limit:
          $ref: '#/components/headers/Foxentry-Daily-Credits-Limit'
        foxentry-rate-limit:
          $ref: '#/components/headers/Foxentry-Rate-Limit'
        foxentry-rate-limit-period:
          $ref: '#/components/headers/Foxentry-Rate-Limit-Period'
        foxentry-rate-limit-remaining:
          $ref: '#/components/headers/Foxentry-Rate-Limit-Remaining'
      content:
        application/json:
          examples:
            searchName:
              value:
                status: 200
                request:
                  endpoint: company/search
                  code: nZsizE2dmlYjphFcy9z6k6EAdkGvw4
                response:
                  resultsCount: 3
                  results:
                    - data:
                        country: CZ
                        name: Balance Agency s.r.o.
                        registrationNumber: '10865845'
                        taxNumber: null
                        vatNumber: CZ10865845
                        vatNumberSpecial: null
                        address:
                          data:
                            country: CZ
                            ids:
                              internal: '2088010'
                              external: '22541691'
                            street: Freyova
                            number:
                              part1: '82'
                              part1Number: '82'
                              part1Letter: null
                              part2: '27'
                              part2Number: '27'
                              part2Letter: null
                              full: 82/27
                            streetWithNumber: Freyova 82/27
                            city: Praha 9
                            zip: '19000'
                            full: 'Freyova 82/27, 19000 Praha 9'
                        addressOfficial:
                          data:
                            country: null
                            street: Freyova
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 82/27
                            streetWithNumber: Freyova 82/27
                            city: Praha
                            zip: '19000'
                            full: null
                    - data:
                        country: CZ
                        name: Extreme Light Infrastructure ERIC (ELI ERIC)
                        registrationNumber: '10974938'
                        taxNumber: null
                        vatNumber: CZ10974938
                        vatNumberSpecial: null
                        address:
                          data:
                            country: CZ
                            ids:
                              internal: '2814036'
                              external: '73833584'
                            street: Za Radnicí
                            number:
                              part1: '835'
                              part1Number: '835'
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: '835'
                            streetWithNumber: Za Radnicí 835
                            city: Dolní Břežany
                            zip: '25241'
                            full: 'Za Radnicí 835, 25241 Dolní Břežany'
                        addressOfficial:
                          data:
                            country: null
                            street: Za Radnicí
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: '835'
                            streetWithNumber: Za Radnicí 835
                            city: Dolní Břežany
                            zip: '25241'
                            full: null
                    - data:
                        country: CZ
                        name: Františkovy Lázně AQUAFORUM a.s.
                        registrationNumber: '10989391'
                        taxNumber: null
                        vatNumber: null
                        vatNumberSpecial: null
                        address:
                          data:
                            country: CZ
                            ids:
                              internal: '1212962'
                              external: '12969885'
                            street: 5. května
                            number:
                              part1: '106'
                              part1Number: '106'
                              part1Letter: null
                              part2: '9'
                              part2Number: '9'
                              part2Letter: null
                              full: 106/9
                            streetWithNumber: 5. května 106/9
                            city: Františkovy Lázně
                            zip: '35101'
                            full: '5. května 106/9, 35101 Františkovy Lázně'
                        addressOfficial:
                          data:
                            country: null
                            street: 5. května
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 106/9
                            streetWithNumber: 5. května 106/9
                            city: Františkovy Lázně
                            zip: '35101'
                            full: null
                errors: []
            searchRegistrationNumber:
              value:
                status: 200
                request:
                  endpoint: company/search
                  code: nZsizE2dmlYjphFcy9z6k6EAdkGvw4
                response:
                  resultsCount: 3
                  results:
                    - data:
                        country: CZ
                        name: Balance Agency s.r.o.
                        registrationNumber: '10865845'
                        taxNumber: null
                        vatNumber: CZ10865845
                        vatNumberSpecial: null
                        address:
                          data:
                            country: CZ
                            ids:
                              internal: '2088010'
                              external: '22541691'
                            street: Freyova
                            number:
                              part1: '82'
                              part1Number: '82'
                              part1Letter: null
                              part2: '27'
                              part2Number: '27'
                              part2Letter: null
                              full: 82/27
                            streetWithNumber: Freyova 82/27
                            city: Praha 9
                            zip: '19000'
                            full: 'Freyova 82/27, 19000 Praha 9'
                        addressOfficial:
                          data:
                            country: null
                            street: Freyova
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 82/27
                            streetWithNumber: Freyova 82/27
                            city: Praha
                            zip: '19000'
                            full: null
                    - data:
                        country: CZ
                        name: Extreme Light Infrastructure ERIC (ELI ERIC)
                        registrationNumber: '10974938'
                        taxNumber: null
                        vatNumber: CZ10974938
                        vatNumberSpecial: null
                        address:
                          data:
                            country: CZ
                            ids:
                              internal: '2814036'
                              external: '73833584'
                            street: Za Radnicí
                            number:
                              part1: '835'
                              part1Number: '835'
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: '835'
                            streetWithNumber: Za Radnicí 835
                            city: Dolní Břežany
                            zip: '25241'
                            full: 'Za Radnicí 835, 25241 Dolní Břežany'
                        addressOfficial:
                          data:
                            country: null
                            street: Za Radnicí
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: '835'
                            streetWithNumber: Za Radnicí 835
                            city: Dolní Břežany
                            zip: '25241'
                            full: null
                    - data:
                        country: CZ
                        name: Františkovy Lázně AQUAFORUM a.s.
                        registrationNumber: '10989391'
                        taxNumber: null
                        vatNumber: null
                        vatNumberSpecial: null
                        address:
                          data:
                            country: CZ
                            ids:
                              internal: '1212962'
                              external: '12969885'
                            street: 5. května
                            number:
                              part1: '106'
                              part1Number: '106'
                              part1Letter: null
                              part2: '9'
                              part2Number: '9'
                              part2Letter: null
                              full: 106/9
                            streetWithNumber: 5. května 106/9
                            city: Františkovy Lázně
                            zip: '35101'
                            full: '5. května 106/9, 35101 Františkovy Lázně'
                        addressOfficial:
                          data:
                            country: null
                            street: 5. května
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 106/9
                            streetWithNumber: 5. května 106/9
                            city: Františkovy Lázně
                            zip: '35101'
                            full: null
                errors: []
            searchTaxNumber:
              value:
                status: 200
                request:
                  endpoint: company/search
                  code: XH0MgpS3kZbOngCsSh7J05880BDnUR
                response:
                  resultsCount: 3
                  results:
                    - data:
                        country: SK
                        name: Pavol Maráček - EMPIRIA
                        registrationNumber: '17672520'
                        taxNumber: '1020329596'
                        vatNumber: SK1020329596
                        vatNumberSpecial: null
                        address:
                          data:
                            country: SK
                            ids:
                              internal: '6869348'
                              external: null
                            street: Priemyselná
                            number:
                              part1: '12'
                              part1Number: '12'
                              part1Letter: null
                              part2: '12'
                              part2Number: '12'
                              part2Letter: null
                              full: 12/12
                            streetWithNumber: Priemyselná 12/12
                            city: Piešťany
                            zip: '92101'
                            full: 'Priemyselná 12/12, 92101 Piešťany'
                        addressOfficial:
                          data:
                            country: null
                            street: Priemyselná
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 12/
                            streetWithNumber: Priemyselná 12/
                            city: Piešťany
                            zip: '92101'
                            full: null
                    - data:
                        country: SK
                        name: Ľubomír Žolčák - ŽOLÍK
                        registrationNumber: '37643703'
                        taxNumber: '1031416738'
                        vatNumber: SK1031416738
                        vatNumberSpecial: null
                        address:
                          data:
                            country: SK
                            ids:
                              internal: '5908780'
                              external: null
                            street: Kpt. Nálepku
                            number:
                              part1: '2854'
                              part1Number: '2854'
                              part1Letter: null
                              part2: '5'
                              part2Number: '5'
                              part2Letter: null
                              full: 2854/5
                            streetWithNumber: Kpt. Nálepku 2854/5
                            city: Prešov
                            zip: '08001'
                            full: 'Kpt. Nálepku 2854/5, 08001 Prešov'
                        addressOfficial:
                          data:
                            country: null
                            street: Ul.kpt.Nálepku
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 5/
                            streetWithNumber: Ul.kpt.Nálepku 5/
                            city: Prešov
                            zip: '08001'
                            full: null
                    - data:
                        country: SK
                        name: Pavol Táborský a spol.
                        registrationNumber: '14104199'
                        taxNumber: '1020351365'
                        vatNumber: SK1020351365
                        vatNumberSpecial: null
                        address:
                          data:
                            country: SK
                            ids:
                              internal: '6226536'
                              external: null
                            street: null
                            number:
                              part1: '305'
                              part1Number: '305'
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: '305'
                            streetWithNumber: Veľké Orvište 305
                            city: Veľké Orvište
                            zip: '92201'
                            full: '305, 92201 Veľké Orvište'
                        addressOfficial:
                          data:
                            country: null
                            street: null
                            number:
                              part1: null
                              part1Number: null
                              part1Letter: null
                              part2: null
                              part2Number: null
                              part2Letter: null
                              full: 305/
                            streetWithNumber: ' 305/'
                            city: Veľké Orvište
                            zip: '92201'
                            full: null
                errors: []
            searchVatNumber:
              value:
                status: 200
[...]
