openapi: 3.1.0
info:
  version: '2.1'
  title: Foxentry API reference
  termsOfService: https://foxentry.com/terms-and-conditions
  description: >-
    # Welcome to the Foxentry API version 2.1

    Welcome to the new version of Foxentry API 2.1 Our API is designed to
    enhance your data management experience and provide you with even more
    powerful tools to harness the potential of getting and working with data.

    ## API usage

    The Foxentry API is used to <b>retrieve</b>, <b>validate</b>, and
    <b>modify</b> user data. Using our API, you can obtain detailed information,
    validate customer input, and automatically edit it into the appropriate
    formats. <br><br>

    The new version of our API also supports automatic corrections, offering you
    suggestions and corrections for your inputs so that you always get the right
    data.

    ## Features in version 2.1

    Foxentry now provides you with a wide variety of information by providing a
    comprehensive set of endpoints for numerous data categories. Whether you
    need information on a <b>Company</b>, an <b>Email</b> address, a
    <b>Location</b>, a <b>Name</b>, or a <b>Phone number</b>, Foxentry can help.
    We are pleased to offer our valued clients a total of 12 endpoints in this
    new version. <br><br>

    With the latest version of the Foxentry API, we have implemented advanced
    <b>Corrections</b> and <b>Suggestions</b>. This means that the data you
    receive will be more refined and precise, enabling you to make data-driven
    decisions with the utmost confidence. <br><br>

    The latest Foxentry API version includes <b>HTTP global errors</b> but also
    <b>local error messages</b>, recognizing the need for clear and useful error
    feedback. If a problem happens while using the API, you will be notified in
    descriptive error messages, providing a smoother integration process and
    quicker issue resolution. <br><br>

    To further enhance data quality, Foxentry has introduced <b>Fixes</b> in the
    new version of the API. This means that even if there are minor errors in
    the data you provide, the API will intelligently identify and correct them,
    reducing the risk of inaccuracies in your results.

    ## API call

    Each API call should be directed to a specific endpoint URL. Each API call
    to an endpoint can only contain one API request.

    ## Environment

    Production: https://api.foxentry.com/

    ## Supported countries

    <table class="center">
      <tr>
        <th>Endpoint</th>
        <th>Supported countries</th>
      </tr>
      <tr>
        <td>company/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr>
      <tr>
        <td>company/search</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr>
      <tr>
        <td>company/get</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>email/validate</td>
        <td>Worldwide</td>
      </tr> 
      <tr>
        <td>email/search</td>
        <td>Worldwide</td>
      </tr> 
      <tr>
        <td>location/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/search</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/get</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/localize</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>name/validate</td>
        <td>Czech Republic, Slovakia</td>
      </tr> 
      <tr>
        <td>phone/validate</td>
        <td>Worldwide</td>
      </tr>                                                                
    </table>


    ## Security

    As part of our commitment to data security, you are required to obtain a
    <b>Bearer token</b> from Foxentry. If you are a new user and do not have an
    API key, please fill out our registration form at
    https://foxentry.com/help-center/rest-api. 


    ## Need help? 

    Should you encounter any issues, have questions, or need assistance, please
    feel free to reach out to our dedicated support team at info@foxentry.com.
    We are here to help you make the most of our API and resolve any questions
    you may have.
  contact:
    name: Foxentry
    email: info@foxentry.com
    url: https://www.foxentry.com
servers:
  - url: https://api.foxentry.com
  - url: https://api.foxentry.com/v2.1
paths:
  /company/validate:
    $ref: paths/company/CompanyValidate.yaml
  /company/search:
    $ref: paths/company/CompanySearch.yaml
  /company/get:
    $ref: paths/company/CompanyGet.yaml
  /email/validate:
    $ref: paths/email/EmailValidate.yaml
  /email/search:
    $ref: paths/email/EmailSearch.yaml
  /location/validate:
    $ref: paths/location/LocationValidate.yaml
  /location/search:
    $ref: paths/location/LocationSearch.yaml
  /location/get:
    $ref: paths/location/LocationGet.yaml
  /location/localize:
    $ref: paths/location/LocationLocalize.yaml
  /name/validate:
    $ref: paths/name/NameValidate.yaml
  /phone/validate:
    $ref: paths/phone/PhoneValidate.yaml
  /phone/search:
    $ref: paths/phone/PhoneSearch.yaml
tags:
  - name: Company
    description: Company operations
  - name: Email
    description: Email operations
  - name: Location
    description: Location operations
  - name: Name
    description: Names operations
  - name: Phone
    description: Phone operations
components:
  securitySchemes:
    BearerAuth:
      type: http
      description: >-
        Bearer token formatted API key. You can obtain the API key after the
        sign up at app.foxentry.com/registration.
      scheme: bearer
security:
  - BearerAuth: []
