openapi: 3.0.0
info:
  version: "2.0"
  title: Foxentry API v2
  description: |-
    # Welcome to the Foxentry API version 2.0
    Welcome to the new version of Foxentry API 2.0 Our API is designed to enhance your data management experience and provide you with even more powerful tools to harness the potential of getting and working with data.
    ## API usage
    The Foxentry API is used to <b>retrieve</b>, <b>validate</b>, and <b>modify</b> user data. Using our API, you can obtain detailed information, validate customer input, and automatically edit it into the appropriate formats. <br><br>
    The new version of our API also supports automatic corrections, offering you suggestions and corrections for your inputs so that you always get the right data.
    ## Features in version 2.0
    Foxentry now provides you with a wide variety of information by providing a comprehensive set of endpoints for numerous data categories. Whether you need information on a <b>Company</b>, an <b>Email</b> address, a <b>Location</b>, a <b>Name</b>, or a <b>Phone number</b>, Foxentry can help. We are pleased to offer our valued clients a total of 11 endpoints in this new version. <br><br>
    With the latest version of the Foxentry API, we have implemented advanced <b>Corrections</b> and <b>Suggestions</b>. This means that the data you receive will be more refined and precise, enabling you to make data-driven decisions with the utmost confidence. <br><br>
    The latest Foxentry API version includes <b>HTTP global errors</b> but also <b>local error messages</b>, recognizing the need for clear and useful error feedback. If a problem happens while using the API, you will be notified in descriptive error messages, providing a smoother integration process and quicker issue resolution. <br><br>
    To further enhance data quality, Foxentry has introduced <b>Fixes</b> in the new version of the API. This means that even if there are minor errors in the data you provide, the API will intelligently identify and correct them, reducing the risk of inaccuracies in your results.
    ## API call
    Each API call should be directed to a specific endpoint URL. Each API call to an endpoint can only contain one API request.
    ## Environment
    Production: https://api.foxentry.com/
    ## Supported countries
    <table class="center">
      <tr>
        <th>Endpoint</th>
        <th>Supported countries</th>
      </tr>
      <tr>
        <td>company/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr>
      <tr>
        <td>company/search</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr>
      <tr>
        <td>company/get</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>email/validate</td>
        <td>Worldwide</td>
      </tr> 
      <tr>
        <td>email/search</td>
        <td>Worldwide</td>
      </tr> 
      <tr>
        <td>location/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/search</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/get</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>location/localize</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>name/validate</td>
        <td>Czech Republic, Slovakia, and Poland</td>
      </tr> 
      <tr>
        <td>phone/validate</td>
        <td>Worldwide</td>
      </tr>                                                                
    </table>

    ## Security
    As part of our commitment to data security, you are required to obtain a <b>Bearer token</b> from Foxentry. If you are a new user and do not have an API key, please fill out our registration form at https://foxentry.com/help-center/rest-api. 

    ## Need help? 
    Should you encounter any issues, have questions, or need assistance, please feel free to reach out to our dedicated support team at info@foxentry.cz. We are here to help you make the most of our API and resolve any questions you may have.
  contact:
    name: Foxentry
    email: info@foxentry.cz
    url: "http://www.foxentry.cz"
servers:
  - url: "https://api.foxentry.com"
  - url: "https://api.foxentry.com/v2.0"
paths:
  /company/validate:
    post:
      tags:
        - Company
      summary: Validate company data
      description: |-
        This endpoint requires at least 1 query parameter and will check if this combination of parameters values is valid.
        Returns informations about company matched inputed parameters values.
      operationId: ValidateCompanyData
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/ValidateCompanyData"
      responses:
        "200":
          $ref: "#/components/responses/ValidateCompanyData"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /company/search:
    post:
      tags:
        - Company
      summary: Company search
      description: "You can search for individual companies using this API endpoint. "
      operationId: CompanySearch
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/CompanySearch"
      responses:
        "200":
          $ref: "#/components/responses/CompanySearch"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /company/get:
    post:
      tags:
        - Company
      summary: Get company data
      description: "This endpoint returns all available data about the company. "
      operationId: GetCompanyData
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/GetCompanyData"
      responses:
        "200":
          $ref: "#/components/responses/GetCompanyData"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /email/validate:
    post:
      tags:
        - Email
      summary: Validate email
      description: |-
        Foxentry allows you to check if email address really exists. Foxentry also can give you information 
        if this mailbox is provided by some temporary emails service.
      operationId: ValidateEmail
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/ValidateEmail"
      responses:
        "200":
          $ref: "#/components/responses/ValidateEmail"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /email/search:
    post:
      tags:
        - Email
      summary: Email search
      description: Foxentry will automatically offer you options to complete the address based on the data you enter.
      operationId: EmailSearch
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/EmailSearch"
      responses:
        "200":
          $ref: "#/components/responses/EmailSearch"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /location/validate:
    post:
      tags:
        - Locations
      summary: Location validation
      description: Foxentry allows you to check validity and real existence of addresses.
      operationId: LocationValidation
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/LocationValidation"
      responses:
        "200":
          $ref: "#/components/responses/LocationValidation"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /location/search:
    post:
      tags:
        - Locations
      summary: Location Search
      description: Use this API endpoint to search for locations.
      operationId: LocationSearch
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/LocationSearch"
      responses:
        "200":
          $ref: "#/components/responses/LocationSearch"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /location/get:
    post:
      tags:
        - Locations
      summary: Location get
      description: Foxentry allows you to check validity and real existence of addresses.
      operationId: LocationGet
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/LocationGet"
      responses:
        "200":
          $ref: "#/components/responses/LocationGet"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /location/localize:
    post:
      tags:
        - Locations
      summary: Location localization
      description: |-
        This endpoint returns max. 10 addresses nearby inputed GPS coordinates. Usable in case you want to localize
        end user by his GPS coordinates (obtained through browser geolocalization service).
      operationId: LocationLocalization
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/LocationLocalization"
      responses:
        "200":
          $ref: "#/components/responses/LocationLocalization"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /name/validate:
    post:
      tags:
        - Name
      summary: Name validation
      description: "Foxentry allows you to check validity and real existence of names. "
      operationId: NameValidation
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/NameValidation"
      responses:
        "200":
          $ref: "#/components/responses/NameValidation"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
  /phone/validate:
    post:
      tags:
        - Phone
      summary: Validate phone number
      description: |-
        Foxentry allows you to check validity and real existence of phone number. Foxentry also can give you
        additional informations about validated phone number, for example name of mobile carrier.
      operationId: ValidatePhoneNumber
      parameters:
        - name: Foxentry-Include-Request-Details
          in: header
          description: Parameter to add details of your request.
          required: false
          schema:
            type: boolean
        - name: Api-Version
          in: header
          description: API version.
          required: false
          schema:
            type: string
            default: "2.0"
            example: "2.0"
          examples:
            default:
              value: "2.0"
      requestBody:
        $ref: "#/components/requestBodies/ValidatePhoneNumber"
      responses:
        "200":
          $ref: "#/components/responses/ValidatePhoneNumber"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "402":
          $ref: "#/components/responses/Error402"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "405":
          $ref: "#/components/responses/Error405"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      security:
        - BearerAuth: []
      servers:
        - url: "https://api.foxentry.com"
        - url: "https://api.foxentry.com/v2.0"
tags:
  - name: Company
    description: Company operations
  - name: Email
    description: Email operations
  - name: Locations
    description: Location operations
  - name: Name
    description: Names operations
  - name: Phone
    description: Phone operations
components:
  requestBodies:
    LocationSearch:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/LocationSearchRequests"
            required:
              - requests
    LocationLocalization:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/LocationLocalizationRequests"
            required:
              - requests
    LocationGet:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/LocationGetRequests"
            required:
              - requests
    LocationValidation:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/LocationValidationRequests"
            required:
              - requests
    ValidateEmail:
      content:
        application/json:
          schema:
            type: object
            properties:
              request:
                $ref: "#/components/schemas/ValidateEmailRequests"
            required:
              - request

    ValidatePhoneNumber:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/ValidatePhoneNumberRequests"
            required:
              - requests
    NameValidation:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/NameValidationRequests"
            required:
              - requests
    ValidateCompanyData:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/ValidateCompanyDataRequests"
            required:
              - requests
    CompanySearch:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/CompanySearchRequests"
            required:
              - requests
    EmailSearch:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/EmailSearchRequests"
            required:
              - requests
    GetCompanyData:
      content:
        application/json:
          schema:
            type: object
            properties:
              requests:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/GetCompanyDataRequests"
            required:
              - requests
  securitySchemes:
    BearerAuth:
      type: http
      description: "Bearer token formatted API key. If you do not have an API key, please contact us right away."
      scheme: bearer
  responses:
    GetCompanyData:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 200
              request:
                $ref: "#/components/schemas/GetCompanyDataResponseRequest"
              response:
                $ref: "#/components/schemas/GetCompanyDataResults"
              errors:
                type: array
            required:
              - status
              - request
              - response
    EmailSearch:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 200
              request:
                allOf:
                  - $ref: "#/components/schemas/GlobalRequest"
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: email/search
                      query:
                        type: object
                        properties:
                          email:
                            type: string
                            description: Suggested email
                            example: info@foxentry.com
                        required:
                          - email
                      options:
                        type: object
                        properties:
                          resultsLimit:
                            type: number
                            description: Number of results
                            minimum: 1
                            maximum: 5
                            example: 5
                      client:
                        $ref: "#/components/schemas/ClientRequest"
              response:
                $ref: "#/components/schemas/EmailSearchResponse"
              errors:
                type: array
            required:
              - status
          examples:
            searchResults:
              value:
                status: 200
                request:
                  endpoint: email/search
                  code: BbX8JtZxKu2gVpMKtjcUhX7UqEFQt4
                  customId:
                response:
                  resultsCount: 5
                  results:
                    - data:
                        email: info@seznam.cz
                        domain: seznam.cz
                    - data:
                        email: info@gmail.com
                        domain: gmail.com
                    - data:
                        email: info@email.cz
                        domain: email.cz
                    - data:
                        email: info@centrum.cz
                        domain: centrum.cz
                    - data:
                        email: info@post.cz
                        domain: post.cz
                errors: []

    CompanySearch:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 200
              request:
                $ref: "#/components/schemas/CompanySearchResultsRequest"
              response:
                $ref: "#/components/schemas/CompanySearchResults"
              errors:
                type: array
            required:
              - status
              - request
              - response
    NameValidation:
      description: Successfull response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: number
                description: API call status.
                example: 200
              request:
                $ref: "#/components/schemas/NameValidationResponseRequest"
              response:
                $ref: "#/components/schemas/NameValidationResults"
              errors:
                type: array
            required:
              - status
              - request
              - response
              - errors
    ValidatePhoneNumber:
      description: Successfull response
      content:
        application/json:
          examples:
            valid:
              value:
                status: 200
                request:
                  endpoint: phone/validate
                  code: yUpjcMnDzLqdKAQbUX09oE4ADHnKhv
                  customId:
                  query:
                    numberWithPrefix: "+420607123456"
                  options:
                    validationType: extended
                    allowedPrefixes: []
                    defaultPrefix: null
                  client:
                    country: CZ
                    location:
                      lat: 50.0643
                      lon: 14.4684
                response:
                  result:
                    isValid: true
                    proposal: valid
                    data:
                      country:
                        code: CZ
                        prefix: "+420"
                      number: "607123456"
                      numberWithPrefix: "+420607123456"
                      carrier:
                        name: T-Mobile Czech Republic a.s.
                        type: mobile
                      format:
                        national: "607123456"
                        nationalFormatted: 607 123 456
                        international: "+420607123456"
                        internationalFormatted: "+420 607 123 456"
                    errors: []
                  resultCorrected:
                  suggestions: []
                errors: []
            invalid:
              value:
                status: 200
                request:
                  endpoint: phone/validate
                  code: NcwvAHGF34djYlL9F1j7DIoCO5io16
                  customId:
                  query:
                    numberWithPrefix: "+42060712345"
                  options:
                    validationType: extended
                    allowedPrefixes: []
                    defaultPrefix:
                  client:
                    country: CZ
                    location:
                      lat: 50.0643
                      lon: 14.4684
                response:
                  result:
                    isValid: false
                    proposal: invalid
                    data:
                      country:
                        code: CZ
                        prefix: "+420"
                      number: null
                      numberWithPrefix: "+42060712345"
                      carrier:
                        name: null
                        type: null
                      format:
                        national: null
                        nationalFormatted: null
                        international: null
                        internationalFormatted: null
                    errors:
                      - group: VALUE
                        type: INVALID
                        subtype:
                        severity: critical
                        relatedTo:
                          - numberWithPrefix
                        description: Value is not valid.
                  resultCorrected:
                  suggestions: []
                errors: []
            invalidWithCorrection:
              value:
                status: 200
                request:
                  endpoint: phone/validate
                  code: O3L1bSU0PAggv9d0i5ogtpspSxUoqt
                  customId:
                  query:
                    prefix: "+421"
                    number: "607123456"
                  options:
                    validationType: extended
                    allowedPrefixes: []
                    defaultPrefix:
                  client:
                    country: CZ
                    location:
                      lat: 50.0643
                      lon: 14.4684
                response:
                  result:
                    isValid: false
                    proposal: invalidWithCorrection
                    data:
                      country:
                        code: SK
                        prefix: "+421"
                      number: "607123456"
                      numberWithPrefix: null
                      carrier:
                        name: null
                        type: null
                      format:
                        national: null
                        nationalFormatted: null
                        international: null
                        internationalFormatted: null
                    errors:
                      - group: VALUE
                        type: INVALID
                        subtype:
                        severity: critical
                        relatedTo:
                          - number
                        description: Value is not valid.
                  resultCorrected:
                    isValid: true
                    data:
                      country:
                        code: CZ
                        prefix: "+420"
                      number: "607123456"
                      numberWithPrefix: "+420607123456"
                      carrier:
                        name: T-Mobile Czech Republic a.s.
                        type: mobile
                      format:
                        national: "607123456"
                        nationalFormatted: 607 123 456
                        international: "+420607123456"
                        internationalFormatted: "+420 607 123 456"
                    errors: []
                    fixes:
                      - group: VALUE
                        type: CHANGED
                        subtype:
                        data:
                          typeFrom: prefix
                          type: prefix
                          valueFrom: "+421"
                          value: "+420"
                  suggestions: []
                errors: []
            validWithSuggestion:
              value:
                status: 200
                request:
                  endpoint: phone/validate
                  code: 0sOViYZJX7lN1z7brRuqMyzxbj3y9L
                  customId:
                  query:
                    prefix: "+48"
                    number: "728984101"
                  options:
                    validationType: basic
                    allowedPrefixes: []
                    defaultPrefix: null
                  client:
                    country: CZ
                    location:
                      lat: 50.0643
                      lon: 14.4684
                response:
                  result:
                    isValid: true
                    proposal: validWithSuggestion
                    data:
                      country:
                        code: PL
                        prefix: "+48"
                      number: "728984101"
                      numberWithPrefix: "+48728984101"
                      carrier: {}
                      format:
                        national: "728984101"
                        nationalFormatted: 728 984 101
                        international: "+48728984101"
                        internationalFormatted: "+48 728 984 101"
                    errors: []
                  resultCorrected: null
                  suggestions:
                    - isValid: true
                      data:
                        country:
                          code: CZ
                          prefix: "+420"
                        number: "728984101"
                        numberWithPrefix: "+420728984101"
                        carrier: {}
                        format:
                          national: "728984101"
                          nationalFormatted: 728 984 101
                          international: "+420728984101"
                          internationalFormatted: "+420 728 984 101"
                      errors: []
                      fixes:
                        - group: VALUE
                          type: CHANGED
                          subtype:
                          data:
                            typeFrom: prefix
                            type: prefix
                            valueFrom: "+48"
                            value: "+420"
                errors: []
          schema:
            type: object
            properties:
              status:
                type: number
                description: Status of response.
                example: 200
              request:
                $ref: "#/components/schemas/ValidatePhoneNumberResponseRequest"
              response:
                $ref: "#/components/schemas/ValidatePhoneNumberResults"
              errors:
                type: array
            required:
              - status
              - request
              - response
    LocationSearch:
      description: Successfull response
      content:
        application/json:
          examples:
            searchStreet:
              value:
                status: 200
                request:
                  endpoint: location/search
                  code: B9loyKgYifx7AfmEZTz9jRGc55zOvZ
                  customId:
                  query:
                    type: street
                    value: tha
                  options:
                    dataScope: basic
                    addressType: official
                    countryMode: limit
                    filterMode: limit
                    resultsLimit: 5
                    cityFormat: basic
                    zipFormat: standard
                  client:
                    country: CZ
                    location:
                      lat: 50.0643
                      lon: 14.4684
                response:
                  resultsCount: 5
                  results:
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 8
                          cityDistrict: Praha 8
                          cityPart: Karlín
                          cityAdministrative:
                          cadastralArea: Karlín
                        ids:
                          internal:
                          external:
                        street: Thámova
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: Thámova
                        city: Praha
                        zip: 186 00
                        geometry:
                          gps:
                            lat: 50.09252562141046
                            lon: 14.452251023612916
                          custom: []
                        postOffice:
                          name: Praha 86
                        full: Thámova, 186 00 Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 6
                          cityDistrict: Praha 6
                          cityPart: Dejvice
                          cityAdministrative:
                          cadastralArea: Dejvice
                        ids:
                          internal:
                          external:
                        street: Thákurova
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: Thákurova
                        city: Praha
                        zip: 160 00
                        geometry:
                          gps:
                            lat: 50.10225071688183
                            lon: 14.388225676375441
                          custom: []
                        postOffice:
                          name: Praha 6
                        full: Thákurova, 160 00 Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Středočeský kraj
                          district: Praha-východ
                          cityDistrictSpecial:
                          cityDistrict:
                          cityPart: Brandýs nad Labem
                          cityAdministrative:
                          cadastralArea: Brandýs nad Labem
                        ids:
                          internal: null
                          external: null
                        street: Thámova
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: Thámova
                        city: Brandýs nad Labem-Stará Boleslav
                        zip: 250 01
                        geometry:
                          gps:
                            lat: 50.18265743914526
                            lon: 14.65001865348313
                          custom: []
                        postOffice:
                          name: Brandýs nad Labem-Stará Boleslav 1
                        full: Thámova, 250 01 Brandýs nad Labem-Stará Boleslav
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Ústecký kraj
                          district: Teplice
                          cityDistrictSpecial: null
                          cityDistrict: null
                          cityPart: Trnovany
                          cityAdministrative:
                          cadastralArea: Teplice-Trnovany
                        ids:
                          internal:
                          external:
                        street: Thámova
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: Thámova
                        city: Teplice
                        zip: 415 01
                        geometry:
                          gps:
                            lat: 50.650474860146645
                            lon: 13.842120192199946
                          custom: []
                        postOffice:
                          name: Teplice 1
                        full: Thámova, 415 01 Teplice
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Plzeňský kraj
                          district: Plzeň-město
                          cityDistrictSpecial:
                          cityDistrict: Plzeň 3
                          cityPart: Jižní Předměstí
                          cityAdministrative:
                          cadastralArea: Plzeň
                        ids:
                          internal:
                          external:
                        street: Thámova
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: Thámova
                        city: Plzeň
                        zip: 301 00
                        geometry:
                          gps:
                            lat: 49.73824081826024
                            lon: 13.368859521578997
                          custom: []
                        postOffice:
                          name: Plzeň 1
                        full: Thámova, 301 00 Plzeň
                errors: []
            searchCity:
              value:
                status: 200
                request:
                  endpoint: location/search
                  code: bDgVSHImL8eGiZwlEQ8mrbMLqW3SnS
                  customId:
                  query:
                    type: city
                    value: pra
                  options:
                    dataScope: basic
                    addressType: official
                    countryMode: limit
                    filterMode: limit
                    resultsLimit: 5
                    cityFormat: basic
                    zipFormat: standard
                  client:
                    country: CZ
                    location:
                      lat: 50.0643
                      lon: 14.4684
                response:
                  resultsCount: 5
                  results:
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: null
                          cityDistrict: null
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber:
                        city: Praha
                        zip: null
                        geometry:
                          gps:
                            lat: 50.06946198430161
                            lon: 14.457585838940725
                          custom: []
                        postOffice:
                          name:
                        full: Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 4
                          cityDistrict: null
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: null
                        city: Praha
                        zip:
                        geometry:
                          gps:
                            lat: 50.02605723631767
                            lon: 14.457723257302748
                          custom: []
                        postOffice:
                          name: null
                        full: Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 9
                          cityDistrict: null
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: null
                        city: Praha
                        zip: null
                        geometry:
                          gps:
                            lat: 50.109126601570125
                            lon: 14.576504260909413
                          custom: []
                        postOffice:
                          name: null
                        full: Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 5
                          cityDistrict: null
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber:
                        city: Praha
                        zip: null
                        geometry:
                          gps:
                            lat: 50.029138139523624
                            lon: 14.360599570178605
                          custom: []
                        postOffice:
                          name: null
                        full: Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 10
                          cityDistrict: null
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full:
                        streetWithNumber: null
                        city: Praha
                        zip:
                        geometry:
                          gps:
                            lat: 50.054860064347096
                            lon: 14.53331945933577
                          custom: []
                        postOffice:
                          name: null
                        full: Praha
                errors: []
            searchStreetWithNumber:
              value:
                status: 200
                request:
                  endpoint: location/search
                  code: iSt1bD2F6ulbPm2q2UzLal81avJOME
                  customId: null
                  query:
                    type: streetWithNumber
                    value: Jeseniova 56
                  options:
                    dataScope: basic
                    addressType: official
                    countryMode: limit
                    filterMode: limit
                    resultsLimit: 5
                    cityFormat: basic
                    zipFormat: standard
                  client:
                    country: CZ
                    location:
                      lat: 50.0643
                      lon: 14.4684
                response:
                  resultsCount: 5
                  results:
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2474923"
                          external: "26766540"
                        street: Jeseniova
                        number:
                          part1: "2770"
                          part1Number: "2770"
                          part1Letter: null
                          part2: "56"
                          part2Number: "56"
                          part2Letter: null
                          full: 2770/56
                        streetWithNumber: Jeseniova 2770/56
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087047565105
                            lon: 14.462478928626
                          custom:
                            - type: JTSK
                              coordinates:
                                x: 1043459.65
                                "y": 739893.35
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 2770/56, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2839682"
                          external: "75195364"
                        street: Jeseniova
                        number:
                          part1: "2770"
                          part1Number: "2770"
                          part1Letter: null
                          part2: 56a
                          part2Number: "56"
                          part2Letter: a
                          full: 2770/56a
                        streetWithNumber: Jeseniova 2770/56a
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087006882822
                            lon: 14.462165853122
                          custom:
                            - type: JTSK
                              coordinates:
                                x: 1043461.42
                                "y": 739916.62
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 2770/56a, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2839684"
                          external: "75195429"
                        street: Jeseniova
                        number:
                          part1: "2770"
                          part1Number: "2770"
                          part1Letter: null
                          part2: 56b
                          part2Number: "56"
                          part2Letter: b
                          full: 2770/56b
                        streetWithNumber: Jeseniova 2770/56b
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087065208676
                            lon: 14.462383559829
                          custom:
                            - type: JTSK
                              coordinates:
                                x: 1043458.22
                                "y": 739900.09
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 2770/56b, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2839687"
                          external: "75195500"
                        street: Jeseniova
                        number:
                          part1: "2770"
                          part1Number: "2770"
                          part1Letter: null
                          part2: 56c
                          part2Number: "56"
                          part2Letter: c
                          full: 2770/56c
                        streetWithNumber: Jeseniova 2770/56c
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087079644325
                            lon: 14.462496572196
                          custom:
                            - type: JTSK
                              coordinates:
                                x: 1043457.58
                                "y": 739891.75
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 2770/56c, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2839688"
                          external: "75195542"
                        street: Jeseniova
                        number:
                          part1: "2770"
                          part1Number: "2770"
                          part1Letter: null
                          part2: 56d
                          part2Number: "56"
                          part2Letter: d
                          full: 2770/56d
                        streetWithNumber: Jeseniova 2770/56d
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087108084204
                            lon: 14.462668763723
                          custom:
                            - type: JTSK
                              coordinates:
                                x: 1043455.4
                                "y": 739879.19
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 2770/56d, 130 00 Praha 3
                errors: []
            searchZip:
              value:
                status: 200
                request:
                  endpoint: location/search
                  code: CB6QBV3dXIYT77vuMle7DtC3terQDo
                  customId: null
                  query:
                    type: zip
                    value: "1"
                  options:
                    dataScope: basic
                    addressType: official
                    countryMode: limit
                    filterMode: limit
                    resultsLimit: 5
                    cityFormat: basic
                    zipFormat: standard
                  client:
                    country: CZ
                    location:
                      lat: 50.0643
                      lon: 14.4684
                response:
                  resultsCount: 5
                  results:
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 10
                          cityDistrict: Praha 10
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: null
                        city: Praha
                        zip: 100 00
                        geometry:
                          gps:
                            lat: 50.072599628209275
                            lon: 14.494863321298032
                          custom: []
                        postOffice:
                          name: Praha 10
                        full: 100 00 Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: null
                          cityDistrict: null
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: null
                        city: Praha
                        zip: 101 00
                        geometry:
                          gps:
                            lat: 50.068008172773794
                            lon: 14.458662142752011
                          custom: []
                        postOffice:
                          name: null
                        full: 101 00 Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 10
                          cityDistrict: null
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: null
                        city: Praha
                        zip: 102 00
                        geometry:
                          gps:
                            lat: 50.0565407771756
                            lon: 14.535608318775813
                          custom: []
                        postOffice:
                          name: Praha 102
                        full: 102 00 Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 10
                          cityDistrict: null
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: null
                        city: Praha
                        zip: 103 00
                        geometry:
                          gps:
                            lat: 50.0130319520774
                            lon: 14.62384033759633
                          custom: []
                        postOffice:
                          name: Praha 113
                        full: 103 00 Praha
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 10
                          cityDistrict: null
                          cityPart: null
                          cityAdministrative: null
                          cadastralArea: null
                        ids:
                          internal: null
                          external: null
                        street: null
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: null
                        city: Praha
                        zip: 104 00
                        geometry:
                          gps:
                            lat: 50.03048204822205
                            lon: 14.594408584358158
                          custom: []
                        postOffice:
                          name: Praha 114
                        full: 104 00 Praha
                errors: []
            searchFull:
              value:
                status: 200
                request:
                  endpoint: location/search
                  code: JlY9aWiYOHTFouopIdA7s7GMFegK8s
                  customId: null
                  query:
                    type: full
                    value: Jeseniova Praha
                  options:
                    dataScope: basic
                    addressType: official
                    countryMode: limit
                    filterMode: limit
                    resultsLimit: 5
                    cityFormat: basic
                    zipFormat: standard
                  client:
                    country: CZ
                    location:
                      lat: 50.0643
                      lon: 14.4684
                response:
                  resultsCount: 10
                  results:
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: null
                          external: null
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "35"
                          cityDistrict: "500097"
                          cityPart: "490261"
                          cadastralArea: "727415"
                          city: null
                          street: null
                        street: Jeseniova
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: null
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.08849994672346
                            lon: 14.470074273005594
                          custom: []
                        postOffice:
                          name: Praha 3
                        full: ""
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 10
                          cityDistrict: Praha 10
                          cityPart: Záběhlice
                          cityAdministrative: null
                          cadastralArea: Záběhlice
                        ids:
                          internal: null
                          external: null
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "108"
                          cityDistrict: "500224"
                          cityPart: "490253"
                          cadastralArea: "732117"
                          city: null
                          street: null
                        street: Jesenická
                        number:
                          part1: null
                          part1Number: null
                          part1Letter: null
                          part2: null
                          part2Number: null
                          part2Letter: null
                          full: null
                        streetWithNumber: null
                        city: Praha
                        zip: 106 00
                        geometry:
                          gps:
                            lat: 50.05778769241466
                            lon: 14.489955915017955
                          custom: []
                        postOffice:
                          name: Praha 106
                        full: ""
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2015522"
                          external: "21767939"
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "35"
                          cityDistrict: "500097"
                          cityPart: "490261"
                          cadastralArea: "727415"
                          city: "554782"
                          street: "449768"
                        street: Jeseniova
                        number:
                          part1: "92"
                          part1Number: "92"
                          part1Letter: null
                          part2: "45"
                          part2Number: "45"
                          part2Letter: null
                          full: 92/45
                        streetWithNumber: Jeseniova 92/45
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087166410058
                            lon: 14.46185917471
                          custom:
                            - coordinates:
                                x: 1043440.98
                                "y": 739935.12
                              type: JTSK
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 92/45, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2016620"
                          external: "21779015"
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "35"
                          cityDistrict: "500097"
                          cityPart: "490261"
                          cadastralArea: "727415"
                          city: "554782"
                          street: "449768"
                        street: Jeseniova
                        number:
                          part1: "1164"
                          part1Number: "1164"
                          part1Letter: null
                          part2: "47"
                          part2Number: "47"
                          part2Letter: null
                          full: 1164/47
                        streetWithNumber: Jeseniova 1164/47
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.08721597352
                            lon: 14.462105334024
                          custom:
                            - coordinates:
                                x: 1043438.09
                                "y": 739916.92
                              type: JTSK
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 1164/47, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2016638"
                          external: "21779198"
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "35"
                          cityDistrict: "500097"
                          cityPart: "490261"
                          cadastralArea: "727415"
                          city: "554782"
                          street: "449768"
                        street: Jeseniova
                        number:
                          part1: "1184"
                          part1Number: "1184"
                          part1Letter: null
                          part2: "49"
                          part2Number: "49"
                          part2Letter: null
                          full: 1184/49
                        streetWithNumber: Jeseniova 1184/49
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087248052739
                            lon: 14.462286115886
                          custom:
                            - coordinates:
                                x: 1043436.36
                                "y": 739903.91
                              type: JTSK
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 1184/49, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2016626"
                          external: "21779074"
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "35"
                          cityDistrict: "500097"
                          cityPart: "490261"
                          cadastralArea: "727415"
                          city: "554782"
                          street: "449768"
                        street: Jeseniova
                        number:
                          part1: "1169"
                          part1Number: "1169"
                          part1Letter: null
                          part2: "51"
                          part2Number: "51"
                          part2Letter: null
                          full: 1169/51
                        streetWithNumber: Jeseniova 1169/51
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087291942944
                            lon: 14.462470325562
                          custom:
                            - coordinates:
                                x: 1043434.05
                                "y": 739890.33
                              type: JTSK
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 1169/51, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2016478"
                          external: "21777586"
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "35"
                          cityDistrict: "500097"
                          cityPart: "490261"
                          cadastralArea: "727415"
                          city: "554782"
                          street: "449768"
                        street: Jeseniova
                        number:
                          part1: "1046"
                          part1Number: "1046"
                          part1Letter: null
                          part2: "35"
                          part2Number: "35"
                          part2Letter: null
                          full: 1046/35
                        streetWithNumber: Jeseniova 1046/35
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087079644325
                            lon: 14.459503443061
                          custom:
                            - coordinates:
                                x: 1043428.35
                                "y": 740103.54
                              type: JTSK
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 1046/35, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2015844"
                          external: "21771235"
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "35"
                          cityDistrict: "500097"
                          cityPart: "490261"
                          cadastralArea: "727415"
                          city: "554782"
                          street: "449768"
                        street: Jeseniova
                        number:
                          part1: "449"
                          part1Number: "449"
                          part1Letter: null
                          part2: "41"
                          part2Number: "41"
                          part2Letter: null
                          full: 449/41
                        streetWithNumber: Jeseniova 449/41
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.086879581189
                            lon: 14.460591749977
                          custom:
                            - coordinates:
                                x: 1043459.94
                                "y": 740029.39
                              type: JTSK
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 449/41, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2017033"
                          external: "21783209"
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "35"
                          cityDistrict: "500097"
                          cityPart: "490261"
                          cadastralArea: "727415"
                          city: "554782"
                          street: "449768"
                        street: Jeseniova
                        number:
                          part1: "1522"
                          part1Number: "1522"
                          part1Letter: null
                          part2: "53"
                          part2Number: "53"
                          part2Letter: null
                          full: 1522/53
                        streetWithNumber: Jeseniova 1522/53
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.087334818472
                            lon: 14.462734128447
                          custom:
                            - coordinates:
                                x: 1043431.45
                                "y": 739871.26
                              type: JTSK
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 1522/53, 130 00 Praha 3
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 3
                          cityDistrict: Praha 3
                          cityPart: Žižkov
                          cityAdministrative: null
                          cadastralArea: Žižkov
                        ids:
                          internal: "2322244"
                          external: "25120417"
                          region: "19"
                          district: "9999"
                          cityDistrictSpecial: "35"
                          cityDistrict: "500097"
                          cityPart: "490261"
                          cadastralArea: "727415"
                          city: "554782"
                          street: "449768"
                        street: Jeseniova
                        number:
                          part1: "1196"
                          part1Number: "1196"
                          part1Letter: null
                          part2: "52"
                          part2Number: "52"
                          part2Letter: null
                          full: 1196/52
                        streetWithNumber: Jeseniova 1196/52
                        city: Praha
                        zip: 130 00
                        geometry:
                          gps:
                            lat: 50.08686514554
                            lon: 14.461311421041
                          custom:
                            - coordinates:
                                x: 1043470.05
                                "y": 739979.04
                              type: JTSK
                        postOffice:
                          name: Praha 3
                        full: Jeseniova 1196/52, 130 00 Praha 3
                errors: []
          schema:
            type: object
            properties:
              status:
                type: integer
                format: int32
              request:
                allOf:
                  - $ref: "#/components/schemas/GlobalRequest"
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: location/search
                      query:
                        type: object
                        properties:
                          type:
                            enum:
                              - street
                              - streetWithNumber
                              - number.full
                              - number.part1
                              - number.part1.number
                              - number.part2
                              - number.part2.number
                              - city
                              - zip
                              - full
                          value:
                            oneOf:
                              - type: string
                              - type: integer
                          filter:
                            type: array
                            items:
                              enum:
                                - street
                                - streetWithNumber
                                - number.full
                                - number.part1
                                - number.part1.number
                                - number.part2
                                - number.part2.number
                                - city
                                - zip
                                - full
                            example:
                              - street
                        example:
                          type: street
                          value: Jeseniova
                      options:
                        $ref: "#/components/schemas/LocationRequestOptions"
                      client:
                        $ref: "#/components/schemas/ClientRequest"
              response:
                $ref: "#/components/schemas/LocationSearchResponse"
              errors:
                type: array
            required:
              - status
    LocationLocalization:
      description: Successfull response
      content:
        application/json:
          examples:
            localizationResults:
              value:
                status: 200
                request:
                  endpoint: location/localize
                  code: pH6Sx97GNdPNsByNBLbVOjlnEEvo8i
                  customId: null
                  query: {}
                  options:
                    dataScope: basic
                    resultsLimit: 10
                    singleLocationResultDistance: 15
                  client:
                    country: CZ
                    location:
                      lat: 50.0920004
                      lon: 14.4527362
                response:
                  resultsCount: 1
                  results:
                    - data:
                        administrativeArea:
                          country: CZ
                          region: Hlavní město Praha
                          district: území Hlavního města Prahy
                          cityDistrictSpecial: Praha 8
                          cityDistrict: Praha 8
                          cityPart: Karlín
                          cityAdministrative: null
                          cadastralArea: Karlín
                        ids:
                          internal: "2070391"
                          external: "22349995"
                        street: Thámova
                        number:
                          part1: "137"
                          part1Number: "137"
                          part1Letter: null
                          part2: "16"
                          part2Number: "16"
                          part2Letter: null
                          full: 137/16
                        streetWithNumber: Thámova 137/16
                        city: Praha
                        zip: 186 00
                        geometry:
                          gps:
                            lat: 50.092000490337
                            lon: 14.452736264264
                          custom:
                            - type: JTSK
                              coordinates:
                                x: 1042819.66
                                "y": 740509.43
                        postOffice:
                          name: Praha 86
                        full: Thámova 137/16, 186 00 Praha 8
                errors: []
          schema:
            type: object
            properties:
              status:
                type: integer
                format: int32
              request:
                allOf:
                  - $ref: "#/components/schemas/GlobalRequest"
                  - type: object
                    properties:
                      endpoint:
                        type: string
                        example: location/localize
                      client:
                        allOf:
                          - $ref: "#/components/schemas/ClientRequest"
                          - type: object
                            properties:
                              location:
                                type: object
                                properties:
                                  lat:
                                    type: number
                                    example: 50.083
                                  lon:
                                    type: number
                                    example: 14.417
                                required:
                                  - lat
                                  - lon
                      options:
                        allOf:
                          - $ref: "#/components/schemas/LocationRequestOptionsSearch"
                          - type: object
                            properties:
                              singleLocationResultDistance:
                                type: number
                                description: "Distance in meters used for single location result. It is measured in meters and represents a value for determining whether only one address or multiple addresses should be returned. It is the distance in meters from the user's GPS coordinates. If there is only one address within a radius of X (singleLocationResultDistance) meters, it will be returned as the only result. If there are multiple addresses within a radius of X, all matching addresses will be returned up to the limit of options.resultsLimit. If there are no addresses within a radius of X, the closest addresses outside the radius of X up to a maximum of options.resultsLimit will be returned."
                                minimum: 1
                                maximum: 100
                                example: 15
              response:
                $ref: "#/components/schemas/LocationLocalizationResults"
            required:
              - status
[...]
